<footer class="page-footer">
    <div class="container">
        {{#unless noSelectedLinks }}

        {{#if newsSingle}}
        <div class="page-footer__selected-links">
            <ul class="page-footer__selected-links-list">
                <li class="page-footer__selected-links-list-item">
                    <a href="#" class="page-footer__selected-links-card">
                        <div class="page-footer__selected-links-card-bg">
                            <img data-src="img/prev-news.jpg" alt=""
                                class="page-footer__selected-links-card-bg-image lazyload">
                        </div>
                        <div class="page-footer__selected-links-category">
                            предыдущая новость
                        </div>
                        <div class="page-footer__selected-links-card-row">
                            <h4 class="page-footer__selected-links-card-title">
                                Парковочные пилоны&nbsp;индикации свободных мест
                            </h4>

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="page-footer__selected-links-list-item">
                    <a href="#" class="page-footer__selected-links-card">
                        <div class="page-footer__selected-links-card-bg">
                            <img data-src="img/next-news.jpg" alt=""
                                class="page-footer__selected-links-card-bg-image lazyload">
                        </div>
                        <div class="page-footer__selected-links-category">
                            следующая новость
                        </div>
                        <div class="page-footer__selected-links-card-row">
                            <h4 class="page-footer__selected-links-card-title">
                                Входная группа для&nbsp;ресторана&nbsp;Adriana
                            </h4>

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        {{else}}
        <div class="page-footer__selected-links">
            <ul class="page-footer__selected-links-list">
                <li class="page-footer__selected-links-list-item">
                    <a href="#" class="page-footer__selected-links-card">
                        <div class="page-footer__selected-links-card-bg">
                            <img data-src="img/selected-links/1.jpg" alt=""
                                class="page-footer__selected-links-card-bg-image lazyload">
                        </div>
                        <div class="page-footer__selected-links-card-row">
                            <h4 class="page-footer__selected-links-card-title">
                                реализованные проекты
                            </h4>

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="page-footer__selected-links-list-item">
                    <a href="#" class="page-footer__selected-links-card">
                        <div class="page-footer__selected-links-card-bg">
                            <img data-src="img/selected-links/2.jpg" alt=""
                                class="page-footer__selected-links-card-bg-image lazyload">
                        </div>
                        <div class="page-footer__selected-links-card-row">
                            <h4 class="page-footer__selected-links-card-title">
                                пресс-центр
                            </h4>

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        {{/if}}

        {{/unless}}

        <div class="page-footer__content">
            <div class="page-footer__row">
                <div class="page-footer__col">
                    <nav class="page-footer__nav">
                        <div class="page-footer__nav-col">
                            <div class="page-footer__nav-block">
                                <h4 class="page-footer__nav-block-heading">
                                    <a href="#">
                                        <span>
                                            Визуальные <br>коммуникации
                                        </span>
                                    </a>

                                </h4>
                                <div class="page-footer__nav-block-links">
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Навигация
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Стеллы
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Входные группы
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Вывески
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Арт-объекты
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Оформление АЗС
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Медиа-агентство
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="page-footer__nav-block">
                                <h4 class="page-footer__nav-block-heading">
                                    <a href="#">
                                        <span>


                                            Архитектура <br>и строительство
                                        </span>
                                    </a>

                                </h4>
                                <div class="page-footer__nav-block-links">
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Фасадные и потолочные панели
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Зенитные фонари
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Мобильные павильоны
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Элементы благоустройства
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="page-footer__nav-col">
                            <div class="page-footer__nav-block">
                                <h4 class="page-footer__nav-block-heading">
                                    <a href="#">
                                        <span>
                                            Световые<br> решения
                                        </span>

                                    </a>

                                </h4>
                                <div class="page-footer__nav-block-links">
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Светильники
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Система освещения метро
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Парковый и ландшафтный свет
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Световые фасады
                                        </span>
                                    </a>

                                </div>
                            </div>

                            <div class="page-footer__nav-block">
                                <h4 class="page-footer__nav-block-heading">
                                    <span>
                                        <a href="#">
                                            <span>
                                                Продукты <br>
                                                и решения
                                            </span>
                                        </a>
                                    </span>
                                </h4>
                                <div class="page-footer__nav-block-links">
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Промышленный дизайн
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Оборудование для голосования
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Корпуса из металла и пластика
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Автокомпоненты
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            Промышленная мебель
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="page-footer__nav-col">
                            <div class="page-footer__nav-block">
                                <h4 class="page-footer__nav-block-heading">
                                    <a href="#">
                                        <span>
                                            О компании
                                        </span>
                                    </a>

                                </h4>
                                <div class="page-footer__nav-block-links">
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            История
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            проекты
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">
                                        <span>
                                            пресс-центр
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Контакты
                                        </span>
                                    </a>

                                </div>
                            </div>
                            <div class="page-footer__nav-block">
                                <h4 class="page-footer__nav-block-heading">
                                    <a href="#">
                                        <span>
                                            Контрактное<br> производство
                                        </span>
                                    </a>

                                </h4>
                                <div class="page-footer__nav-block-links">
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Лазерная резка
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Гидроабразивная резка
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Плазменная резка
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Фрезерная обработка
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Пробивной пресс и панелегиб
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Рубка, гибка и вальцовка
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Полимерно-порошковая покраска
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Сварочные работы
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Термовакуумное формование
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Изготовление пресс-форм
                                        </span>
                                    </a>
                                    <a href="#" class="page-footer__nav-block-link">

                                        <span>
                                            Широкоформатная УФ-печать
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="page-footer__col">
                    <div class="page-footer__contacts">
                        <div class="page-footer__contacts-links">
                            <div class="page-footer__contacts-links-block">
                                <a href="tel:+78432926211" class="page-footer__contacts-phone-link">
                                    <span>
                                        +7 (843) 292-62-11
                                    </span>

                                </a>
                                <a href="mailto:reception@neonart.ru" class="page-footer__contacts-email-link">
                                    <span>
                                        reception@neonart.ru
                                    </span></a>
                            </div>
                            <div class="page-footer__contacts-links-block">
                                <a href="tel:+79872251760" class="page-footer__contacts-phone-link">
                                    <span>
                                        +7 (987) 225-17-60
                                    </span>

                                </a>
                                <div class="page-footer__contacts-links-title">
                                    контрактное производство
                                </div>

                            </div>

                        </div>
                        <div class="page-footer__offices">
                            <ul class="page-footer__offices-list">
                                <li class="page-footer__offices-list-item">
                                    <div class="page-footer__offices-card">
                                        <h5 class="page-footer__offices-card-title">
                                            офис
                                        </h5>
                                        <div class="page-footer__offices-card-info">
                                            420111, г. Казань, ул. Карла Маркса, 1
                                        </div>
                                    </div>
                                </li>
                                <li class="page-footer__offices-list-item">
                                    <div class="page-footer__offices-card">
                                        <h5 class="page-footer__offices-card-title">
                                            Производство
                                        </h5>
                                        <div class="page-footer__offices-card-info">
                                            420030, г. Казань, ул. Набережная, 31 А
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="page-footer__social">
                            <h3 class="page-footer__social-heading">
                                Неон-арт в соцсетях
                            </h3>
                            <ul class="page-footer__social-list">
                                <li class="page-footer__social-list-item">
                                    <a href="#" class="page-footer__social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-youtube">
                                            <use xlink:href="#youtube"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-footer__social-list-item">
                                    <a href="#" class="page-footer__social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                            <use xlink:href="#instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-footer__social-list-item">
                                    <a href="#" class="page-footer__social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                            <use xlink:href="#facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a href="#" class="page-footer__vacancies">
                            Вакансии на hh.ru
                            <svg width="14" height="14" aria-hidden="true" class="icon-diagonal-arrow">
                                <use xlink:href="#diagonal-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-footer__row">
                <div class="page-footer__col page-footer__col--grid">
                    <a href="#" class="page-footer__download-presentation">
                        скачать презентации
                        <svg width="14" height="14" aria-hidden="true" class="icon-download">
                            <use xlink:href="#download"></use>
                        </svg>
                    </a>

                </div>

            </div>
            <div class="page-footer__row">
                <div class="page-footer__col page-footer__col--grid">
                    <a href="#" class="page-footer__policy-link">
                        <span>
                            политика Конфиденциальности
                        </span>

                    </a>
                    <a href="#" class="page-footer__made-by">
                        <span>
                            Создание сайта
                        </span>

                        <img src="img/mw-logo.svg" alt="" class="page-footer__made-by-image">
                    </a>
                </div>
                <div class="page-footer__col ">

                    <div class="page-footer__copyright">
                        © 1993-2023 ООО NEON-ART
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
