<header class="page-header">
    <div class="page-header__menu">
        <div class="page-header__menu-inner">
            <div class="page-header__menu-inner-bg"></div>
            <div class="container">


                <div class="page-header__menu-row">
                    <div class="page-header__menu-col">
                        <nav class="page-header__menu-nav">
                            <div class="page-header__menu-nav-col">
                                <div class="page-header__menu-nav-block">
                                    <h4 class="page-header__menu-nav-block-heading">
                                        <a href="#">
                                            коммуникации
                                        </a>

                                    </h4>
                                    <ul class="page-header__menu-nav-list">
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Навигация
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Стеллы
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Входные группы
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Вывески
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Арт-объекты
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Оформление АЗС
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="page-header__menu-nav-block">
                                    <h4 class="page-header__menu-nav-block-heading">
                                        <a href="#">
                                            Изделия
                                            из пластика
                                        </a>

                                    </h4>
                                    <ul class="page-header__menu-nav-list">
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Оборудование для голосования
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Корпуса из металла и пластика
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Автокомпоненты
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Промышленная мебель
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="page-header__menu-nav-col">
                                <div class="page-header__menu-nav-block">
                                    <h4 class="page-header__menu-nav-block-heading">

                                        <a href="#">
                                            Световые решения
                                        </a>
                                    </h4>
                                    <ul class="page-header__menu-nav-list">
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Светильники
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Система освещения метро
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Парковый и ландшафтный свет
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Световые фасады
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="page-header__menu-nav-block">
                                    <h4 class="page-header__menu-nav-block-heading">

                                        <a href="#">
                                            Архитектура и строительство
                                        </a>
                                    </h4>
                                    <ul class="page-header__menu-nav-list">
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Фасадные и потолочные панели
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Зенитные фонари
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Мобильные павильоны
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Элементы благоустройства
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="page-header__menu-nav-col">
                                <div class="page-header__menu-nav-block">
                                    <h4 class="page-header__menu-nav-block-heading">

                                        <a href="#">
                                            Контрактное производство
                                        </a>
                                    </h4>
                                    <ul class="page-header__menu-nav-list">
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Лазерная резка
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Гидроабразивная резка
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Плазменная резка
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Фрезерная обработка
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Пробивной пресс и панелегиб
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Рубка, гибка и вальцовка
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Полимерно-порошковая покраска
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Сварочные работы
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Термовакуумное формование
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Изготовление пресс-форм
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Широкоформатная УФ-печать
                                            </a>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                            <div class="page-header__menu-nav-col">
                                <div class="page-header__menu-nav-block page-header__menu-nav-block--about">
                                    <h4 class="page-header__menu-nav-block-heading">

                                        <a href="#">
                                            О компании
                                        </a>
                                    </h4>
                                    <ul class="page-header__menu-nav-list">
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                История
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                проекты
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                пресс-центр
                                            </a>
                                        </li>
                                        <li class="page-header__menu-nav-list-item">
                                            <a href="#" class="page-header__menu-nav-link">
                                                Контакты
                                            </a>
                                        </li>


                                    </ul>
                                </div>

                            </div>
                        </nav>
                        <div class="page-header__menu-bottom-row">
                            <a href="#" class="page-header__menu-download-presentation">
                                скачать презентации
                                <svg width="14" height="14" aria-hidden="true" class="icon-download">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </a>
                            <ul class="page-header__menu-social-list">
                                <li class="page-header__menu-social-list-item">
                                    <a href="#" class="page-header__menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-youtube">
                                            <use xlink:href="#youtube"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-header__menu-social-list-item">
                                    <a href="#" class="page-header__menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                            <use xlink:href="#instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-header__menu-social-list-item">
                                    <a href="#" class="page-header__menu-social-link">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                            <use xlink:href="#facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="page-header__menu-col">
                        <div class="page-header__menu-slider js-menu-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="page-header__menu-slider-card">
                                            <div class="page-header__menu-slider-card-image-container">
                                                <img src="img/menu-slider.jpg" alt=""
                                                    class="page-header__menu-slider-card-image">
                                            </div>
                                            <div class="page-header__menu-slider-card-date">
                                                29 апреля 2021
                                            </div>
                                            <h4 class="page-header__menu-slider-card-title">
                                                Первые места на конкурсе визуальной рекламы "ЗНАК 2021"
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="page-header__menu-slider-card">
                                            <div class="page-header__menu-slider-card-image-container">
                                                <img src="img/menu-slider.jpg" alt=""
                                                    class="page-header__menu-slider-card-image">
                                            </div>
                                            <div class="page-header__menu-slider-card-date">
                                                29 апреля 2021
                                            </div>
                                            <h4 class="page-header__menu-slider-card-title">
                                                Первые места на конкурсе визуальной рекламы "ЗНАК 2021"
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="page-header__menu-slider-card">
                                            <div class="page-header__menu-slider-card-image-container">
                                                <img src="img/menu-slider.jpg" alt=""
                                                    class="page-header__menu-slider-card-image">
                                            </div>
                                            <div class="page-header__menu-slider-card-date">
                                                29 апреля 2021
                                            </div>
                                            <h4 class="page-header__menu-slider-card-title">
                                                Первые места на конкурсе визуальной рекламы "ЗНАК 2021"
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="page-header__menu-slider-arrows">
                                <button class="page-header__menu-slider-arrow page-header__menu-slider-arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="page-header__menu-slider-arrow page-header__menu-slider-arrow--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <form action="/" method="GET" class="page-header__menu-search-form">
                            <button type="submit" class="page-header__menu-search-form-submit">
                                <svg width="14" height="14" aria-hidden="true" class="icon-search">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </button>
                            <input type="search" class="page-header__menu-search-form-input"
                                placeholder="Поиск по сайту">
                        </form>
                        <div class="page-header__menu-contacts">
                            <div class="page-header__menu-contacts-links">
                                <a href="tel:+7 (843) 292-62-11" class="page-header__menu-phone">+7 (843) 292-62-11</a>
                                <a href="mailto:reception@neonart.ru"
                                    class="page-header__menu-mail">reception@neonart.ru</a>
                            </div>
                            <div class="page-header__menu-address">
                                <div class="page-header__menu-address-block">
                                    <div class="page-header__menu-address-block-title">
                                        офис
                                    </div>
                                    <div class="page-header__menu-address-block-text">
                                        420111, г. Казань, ул. Карла Маркса, 1
                                    </div>
                                </div>
                                <div class="page-header__menu-address-block">
                                    <div class="page-header__menu-address-block-title">
                                        Производство
                                    </div>
                                    <div class="page-header__menu-address-block-text">
                                        420030, г. Казань, ул. Набережная, 31 А
                                    </div>
                                </div>
                            </div>

                        </div>
                        <a href="#" class="page-header__menu-language">
                            eng
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">

        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="img/logo.png" alt="" class="page-header__logo-image">
            </a>
            <burger class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </burger>
            <a href="#" class="page-header__search">
                <svg width="14" height="14" aria-hidden="true" class="icon-search">
                    <use xlink:href="#search"></use>
                </svg>
            </a>
            <nav class="page-header__nav js-page-header-nav">
                <a href="#" class="page-header__nav-link">
                    визуальные коммуникации
                </a>
                <a href="#" class="page-header__nav-link">
                    световые решения
                </a>
                <a href="#" class="page-header__nav-link">
                    архитектура и строительство
                </a>
                <a href="#" class="page-header__nav-link">
                    изделия из пластика
                </a>
            </nav>
            <a href="#" class="page-header__language">
                еng
            </a>
            <a href="tel:+78432926211" class="page-header__phone">
                +7 (843) 292-62-11
            </a>
            <div class="page-header__contact-menu-wrapper">
                <a href="#" class="page-header__contact-btn">
                    связаться
                </a>
            </div>

        </div>
    </div>
</header>