<div class="side-menu">
    <div class="container">
        <div class="side-menu__content">
            <div class="side-menu__panel">
                <nav class="side-menu__nav js-sections-menu">
                    <a href="#to-company" class="side-menu__nav-link js-sections-menu-link">
                        <span>
                            О компании
                        </span>
                    </a>
                    <a href="#to-production" class="side-menu__nav-link js-sections-menu-link">
                        <span>
                            Производство
                        </span>
                    </a>
                    <a href="#to-history" class="side-menu__nav-link js-sections-menu-link">
                        <span>
                            История
                        </span>
                    </a>
                    <a href="#to-awards" class="side-menu__nav-link js-sections-menu-link">
                        <span>
                            награды
                        </span>
                    </a>
                    <a href="#to-geography" class="side-menu__nav-link js-sections-menu-link">
                        <span>
                            География
                        </span>
                    </a>
                    <a href="#to-clients" class="side-menu__nav-link js-sections-menu-link">
                        <span>
                            клиенты
                        </span>
                    </a>
                    <a href="#to-team" class="side-menu__nav-link js-sections-menu-link">
                        <span>
                            Сотрудники
                        </span>
                    </a>
                    <a href="#to-vacancy" class="side-menu__nav-link js-sections-menu-link">
                        <span>
                            Вакансии
                        </span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</div>