{{#extend "layout"}}
{{#content "main"}}




<section class="intro" data-midnight="dark">
    <div class="intro__bg intro__bg--light-overlay">
        <img src="img/case/intro.jpg" alt="">
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__top-row">
                <div class="intro__logo-wrapper">
                    <div class="intro__logo-wrapper-inner">
                        <a href="#" class="intro__logo">
                            <svg width="186" height="45" aria-hidden="true" class="intro__logo-image icon-logo">
                                <use xlink:href="#logo"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="intro__main-heading-wrapper">
                    <h1 class="section-heading intro__main-heading js-sliding-text">
                        оформление производственного<br> корпуса Aurus
                    </h1>
                </div>
            </div>



        </div>
    </div>
</section>


<section class="task" data-midnight="light">
    <div class="container">
        <div class="task__row">
            <div class="task__col">
                <h2 class="section-upper-heading">
                    задача
                </h2>
            </div>
            <div class="task__col">
                <h3 class="section-heading task__large-heading">
                    С каждой новой станцией архитекторы Метрогипротранса ставят перед нами всё более сложные задачи
                </h3>
                <div class="task__text-content">
                    <h4>
                        визуальный образ
                    </h4>
                    <p>
                        Открытая в этом году станция имеет сложные радиусные светильники с переменной шириной, которые
                        изогнуты в горизонтальной и вертикальной плоскостях. Фотографии до конца не позволяют передать
                        этого эффекта.

                    </p>
                    <p>
                        Для платформы разработаны треугольные светильники, являющиеся продолжением колон и придающие
                        оригинальность всей станции. Торшеры эскалаторов тоже подверглись «эволюции». Формованные
                        плафоны придали изящества и позволили добиться лучшей освещенности.

                    </p>
                    <p>
                        Лаконичные монохромные формы в виде "порталов" эффектно подчеркнуты прямоугольными
                        светильниками. Отражаясь в полированном черном камне стен и колонн они визуально увеличивают
                        платформу.
                    </p>
                </div>


            </div>
        </div>
    </div>
</section>
<section class="task" data-midnight="light">
    <div class="container">
        <div class="task__row">
            <div class="task__col">
                <h2 class="section-upper-heading">
                    проектирование
                </h2>
            </div>
            <div class="task__col">
                <h3 class="section-heading task__large-heading">
                    3D-моделирование и визуализация
                </h3>
                <div class="task__text-content">
                    <p>
                        Для правильного определения концепции освещения здания, производится 3D моделирование
                        архитектурного объекта. Трехмерное проектирование позволяет оптимально выбрать точки размещения
                        осветительного оборудования, визуализировать архитектурный объект с различных ракурсов и увидеть
                        результат до его реализации.
                    </p>
                </div>
                <div class="task__gallery js-task-gallery">
                    <div class="slider-arrows task__gallery-arrows">
                        <button class="slider-arrows__btn slider-arrows__btn--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="slider-arrows__btn slider-arrows__btn--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="task__gallery-card">
                                    <img data-src="img/task/1.jpg" alt="" class="task__gallery-card-image lazyload">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="task__gallery-card">
                                    <img data-src="img/task/2.jpg" alt="" class="task__gallery-card-image lazyload">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="task__gallery-card">
                                    <img data-src="img/task/1.jpg" alt="" class="task__gallery-card-image lazyload">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="task__gallery-card">
                                    <img data-src="img/task/2.jpg" alt="" class="task__gallery-card-image lazyload">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<section class="numbers numbers--grey-bg js-numbers" data-midnight="grey">
    <div class="container">
        <div class="numbers__content">


            <h3 class="section-heading numbers__heading">
                цифры и факты о системе<br> освещения метро
            </h3>
            <div class="numbers__slider js-numbers-slider">
                <div class="numbers__slider-container">

                    <ul class="numbers__list">
                        <li class="numbers__list-item">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    8
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                освещено станций метро
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    40 <span>тыс. </span>
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                светодиодных лампочек
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    1000
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                светодиодных лампочек
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="numbers__list-item">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    40 <span>тыс. </span>
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                светодиодных лампочек
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    1000
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                светодиодных лампочек
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    8
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                освещено станций метро
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="numbers__list-item">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">


                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    1000
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                светодиодных лампочек
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    8
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                освещено станций метро
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    40 <span>тыс. </span>
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                светодиодных лампочек
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="specs" data-midnight="light">
    <div class="container">
        <div class="specs__content">
            <h2 class="section-heading specs__heading">
                Характеристики продукции
            </h2>
            <ul class="specs__list">
                <li class="specs__list-item">
                    <div class="specs__card">
                        <div class="specs__card-icon-container">
                            <img src="img/specs/1.svg" alt="" class="specs__card-icon">
                        </div>
                        <h4 class="specs__card-title">
                            высокое теплосбережение
                        </h4>
                        <div class="specs__card-text">
                            <p>
                                изготовление высокотехнологичного продукта в сфере освещения, строительства и визуальных
                                коммуникаций
                            </p>
                        </div>
                    </div>
                </li>
                <li class="specs__list-item">
                    <div class="specs__card">
                        <div class="specs__card-icon-container">
                            <img src="img/specs/2.svg" alt="" class="specs__card-icon">
                        </div>
                        <h4 class="specs__card-title">
                            дымоудаление
                        </h4>
                        <div class="specs__card-text">
                            <p>
                                изготовление высокотехнологичного продукта в сфере освещения, строительства и визуальных
                                коммуникаций
                            </p>
                        </div>
                    </div>
                </li>
                <li class="specs__list-item">
                    <div class="specs__card">
                        <div class="specs__card-icon-container">
                            <img src="img/specs/3.svg" alt="" class="specs__card-icon">
                        </div>
                        <h4 class="specs__card-title">
                            максимум света
                        </h4>
                        <div class="specs__card-text">
                            <p>
                                изготовление высокотехнологичного продукта в сфере освещения, строительства и визуальных
                                коммуникаций
                            </p>
                        </div>
                    </div>
                </li>
                <li class="specs__list-item">
                    <div class="specs__card">
                        <div class="specs__card-icon-container">
                            <img src="img/specs/4.svg" alt="" class="specs__card-icon">
                        </div>
                        <h4 class="specs__card-title">
                            защита от шума
                        </h4>
                        <div class="specs__card-text">
                            <p>
                                изготовление высокотехнологичного продукта в сфере освещения, строительства и визуальных
                                коммуникаций
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="photo" data-midnight="light">
    <div class="container">
        <div class="photo__slider js-photo-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="photo__slider-card">
                            <img data-src="img/large-photo.jpg" alt="" class="photo__image lazyload">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photo__slider-card">
                            <img data-src="img/large-photo.jpg" alt="" class="photo__image lazyload">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photo__slider-card">
                            <img data-src="img/large-photo.jpg" alt="" class="photo__image lazyload">
                        </div>
                    </div>
                </div>
            </div>
            <div class="photo__slider-controls">
                <div class="slider-pagination">

                </div>
                <div class="slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="photo__description">
                <p>
                    Навигация, выполненная из металла, гармонично вписана в строгий стиль интерьера, создавая
                    необходимые акценты.
                </p>
            </div>
        </div>

    </div>
</section>
<section class="photo" data-midnight="light">
    <div class="container">
        <div class="photo__slider photo__slider--two-col js-photo-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="photo__slider-card">
                            <img data-src="img/photo/1.jpg" alt="" class="photo__image lazyload">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photo__slider-card">
                            <img data-src="img/photo/2.jpg" alt="" class="photo__image lazyload">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photo__slider-card">
                            <img data-src="img/photo/1.jpg" alt="" class="photo__image lazyload">
                        </div>
                    </div>
                </div>
            </div>
            <div class="photo__slider-controls">
                <div class="slider-pagination">

                </div>
                <div class="slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>

        </div>

    </div>
</section>


<section class="photo-with-details" data-midnight="light">
    <div class="container">
        <div class="photo-with-details__image-container">
            <img data-src="img/photo-with-details.jpg" alt="" class="photo-with-details__image lazyload">
            <h2 class="section-heading photo-with-details__heading">
                оформление эскалатора
            </h2>
        </div>
        <div class="photo-with-details__text-content">
            <p>
                Большая ответственность для компании принять участие в формировании визуальных коммуникаций бренда
                AURUS. На основе фирменного стиля разработаны элементы внешнего оформления производственных зданий.
            </p>
        </div>
    </div>
</section>

<section class="photo" data-midnight="light">
    <div class="container">
        <div class="photo__slider photo__slider--centered js-photo-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="photo__slider-card">
                            <img data-src="img/case-photo.jpg" alt="" class="photo__image lazyload">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photo__slider-card">
                            <img data-src="img/case-photo.jpg" alt="" class="photo__image lazyload">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photo__slider-card">
                            <img data-src="img/case-photo.jpg" alt="" class="photo__image lazyload">
                        </div>
                    </div>
                </div>
            </div>
            <div class="photo__slider-controls">
                <div class="slider-pagination">

                </div>
                <div class="slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="photo__description">
                <p>
                    Навигация, выполненная из металла, гармонично вписана в строгий стиль интерьера, создавая
                    необходимые акценты.
                </p>
            </div>
        </div>

    </div>
</section>

<section class="case-video" data-midnight="light">
    <div class="container">
        <div class="case-video__content">
            {{!-- <h2 class="section-heading case-video__heading">
                3D-моделирование и визуализация
            </h2> --}}
            <a href="https://www.youtube.com/watch?v=Z6mKpAJ1QSY" class="case-video__container" data-fancybox="">
                <img data-src="img/case-video.jpg" alt="" class="case-video__preview lazyload">
                <svg width="14" height="14" aria-hidden="true" class="icon-play">
                    <use xlink:href="#play"></use>
                </svg>
            </a>
        </div>
    </div>
</section>


<section class="case-realised-projects" data-midnight="light">
    <div class="container">
        <div class="case-realised-projects__content">
            <h2 class="section-heading case-realised-projects__heading">
                наши реализованные проекты
            </h2>
            <div class="case-realised-projects__slider js-case-realised-projects">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__catalog-card">
                                <div class="realised-projects__catalog-card-image-container">
                                    <img data-src="img/case-realised-projects/1.jpg" alt=""
                                        class="realised-projects__catalog-card-image lazyload">
                                </div>
                                <div class="realised-projects__catalog-card-row">
                                    <h4 class="realised-projects__catalog-card-title">
                                        станция метро Электрозаводская
                                    </h4>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__catalog-card">
                                <div class="realised-projects__catalog-card-image-container">
                                    <img data-src="img/case-realised-projects/2.jpg" alt=""
                                        class="realised-projects__catalog-card-image lazyload">
                                </div>
                                <div class="realised-projects__catalog-card-row">
                                    <h4 class="realised-projects__catalog-card-title">
                                        станция метро Электрозаводская
                                    </h4>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__catalog-card">
                                <div class="realised-projects__catalog-card-image-container">
                                    <img data-src="img/case-realised-projects/3.jpg" alt=""
                                        class="realised-projects__catalog-card-image lazyload">
                                </div>
                                <div class="realised-projects__catalog-card-row">
                                    <h4 class="realised-projects__catalog-card-title">
                                        станция метро Электрозаводская
                                    </h4>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__catalog-card">
                                <div class="realised-projects__catalog-card-image-container">
                                    <img data-src="img/case-realised-projects/1.jpg" alt=""
                                        class="realised-projects__catalog-card-image lazyload">
                                </div>
                                <div class="realised-projects__catalog-card-row">
                                    <h4 class="realised-projects__catalog-card-title">
                                        станция метро Электрозаводская
                                    </h4>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__catalog-card">
                                <div class="realised-projects__catalog-card-image-container">
                                    <img data-src="img/case-realised-projects/2.jpg" alt=""
                                        class="realised-projects__catalog-card-image lazyload">
                                </div>
                                <div class="realised-projects__catalog-card-row">
                                    <h4 class="realised-projects__catalog-card-title">
                                        станция метро Электрозаводская
                                    </h4>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="realised-projects__catalog-card">
                                <div class="realised-projects__catalog-card-image-container">
                                    <img data-src="img/case-realised-projects/3.jpg" alt=""
                                        class="realised-projects__catalog-card-image lazyload">
                                </div>
                                <div class="realised-projects__catalog-card-row">
                                    <h4 class="realised-projects__catalog-card-title">
                                        станция метро Электрозаводская
                                    </h4>
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="case-realised-projects__slider-controls">
                    <div class="slider-pagination">

                    </div>
                    <div class="slider-arrows">
                        <button class="slider-arrows__btn slider-arrows__btn--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="slider-arrows__btn slider-arrows__btn--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <a href="#" class="button-with-arrow case-realised-projects__show-more">
                <div class="button-with-arrow__text" data-text="смотреть все проекты">
                    <div class="button-with-arrow__text-inner">
                        смотреть все проекты
                    </div>
                </div>

                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>

    </div>
</section>


<section class="case-made-by" data-midnight="light">
    <div class="container">
        <img data-src="img/made-by.jpg" alt="" class="case-made-by__image lazyload">
        <div class="case-made-by__content">
            <div class="case-made-by__awards">
                <h3 class="case-made-by__title">
                    Награды проекта
                </h3>
                <ul class="case-made-by__awards-list">
                    <li class="case-made-by__awards-list-item">
                        1 место в номинации<br>
                        Стелы и крышные установки
                    </li>
                    <li class="case-made-by__awards-list-item">
                        1 место в номинации<br>
                        оформление фасадов предприятия в сфере услуг
                    </li>
                </ul>
            </div>
            <div class="case-made-by__bottom-row">
                <div class="case-made-by__authors">
                    <ul class="case-made-by__authors-list">
                        <li class="case-made-by__authors-list-item">
                            <h4 class="case-made-by__title">
                                руководитель проекта
                            </h4>
                            <div class="case-made-by__author-name">
                                Романова Юлия
                            </div>
                        </li>
                        <li class="case-made-by__authors-list-item">
                            <h4 class="case-made-by__title">
                                дизайнер
                            </h4>
                            <div class="case-made-by__author-name">
                                Нефедов Николай
                            </div>
                        </li>
                        <li class="case-made-by__authors-list-item">
                            <h4 class="case-made-by__title">
                                Конструктор
                            </h4>
                            <div class="case-made-by__author-name">
                                Проскурин Руслан
                            </div>
                        </li>
                        <li class="case-made-by__authors-list-item">
                            <h4 class="case-made-by__title">
                                арт-директор
                            </h4>
                            <div class="case-made-by__author-name">
                                Нефедов Николай
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="case-made-by__date">
                    <h4 class="case-made-by__title">
                        дата выпуска
                    </h4>
                    <div class="case-made-by__date-text">
                        30.06.2021
                    </div>
                </div>
            </div>
            <a href="#" class="button-with-arrow case-made-by__share">
                <div class="button-with-arrow__text" data-text="Поделиться проектом">
                    <div class="button-with-arrow__text-inner">
                        Поделиться проектом
                    </div>
                </div>

                <svg width="14" height="14" aria-hidden="true" class="icon-share">
                    <use xlink:href="#share"></use>
                </svg>
            </a>

        </div>


    </div>
</section>

<section class="contact-form" data-midnight="dark">
    <div class="container">
        <div class="contact-form__content">
            <h2 class="section-heading contact-form__heading">
                Оставьте заявку на услугу
            </h2>
            <div class="contact-form__row">
                <div class="contact-form__col">
                    <form action="/" method="POST" class="contact-form__form" data-need-validation="" id="contact-form">
                        <div class="contact-form__fields">
                            <div class="contact-form__field contact-form__field--wide" id="subject-select">
                                <select name="subject" class="js-custom-select" required
                                    data-parsley-errors-container="#subject-select"
                                    data-parsley-class-handler="#subject-select" data-parsley-trigger="change">
                                    <option value="" placeholder>
                                        выбрать тему сообщения
                                    </option>
                                    <option value="1">Тема 1</option>
                                    <option value="2">Тема 2</option>
                                    <option value="3">Тема 3</option>
                                </select>
                            </div>
                            <div class="contact-form__field">
                                <input type="text" class="contact-form__input" placeholder="ваши имя и фамилия"
                                    required>
                            </div>
                            <div class="contact-form__field">
                                <input type="text" class="contact-form__input" placeholder="компания" required>
                            </div>
                            <div class="contact-form__field contact-form__field--wide">
                                <input type="tel" class="contact-form__input js-phone-input" placeholder="телефон"
                                    required data-parsley-phone="">
                            </div>
                            <div class="contact-form__field contact-form__field--wide">
                                <textarea name="comment" class="contact-form__input"
                                    placeholder="текст сообщения"></textarea>
                            </div>
                        </div>
                        <label class="contact-form__file-upload js-file-upload">
                            <input type="file" class="contact-form__file-upload-input">
                            <span class="contact-form__file-upload-text js-file-upload-text">
                                прикрепить файл
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-file">
                                <use xlink:href="#file"></use>
                            </svg>
                        </label>
                        <button type="submit" class="contact-form__submit">
                            <span>
                                Отправить сообщение
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                        <div class="contact-form__policy">
                            нажимая кнопку вы даете согласие на обработку ваших персональнх данных и соглашаетесь с <a
                                href="#"><span>политикой конфиденциальности</span></a>
                        </div>
                    </form>
                </div>
                <div class="contact-form__col">
                    <h3 class="contact-form__secondary-heading">
                        Свяжитесь с нами и мы ответим на все ваши вопросы
                    </h3>
                    <div class="contact-form__manager">
                        <div class="contact-form__manager-photo-container">
                            <img data-src="img/manager.jpg" alt="" class="contact-form__manager-photo lazyload">
                        </div>
                        <div class="contact-form__manager-content">
                            <div class="contact-form__manager-info-block">
                                <h4 class="contact-form__manager-info-block-title">
                                    менеджер
                                </h4>
                                <div class="contact-form__manager-name">
                                    Дэйви Алина
                                </div>
                            </div>
                            <div class="contact-form__manager-info-block">
                                <h4 class="contact-form__manager-info-block-title">
                                    контакты
                                </h4>
                                <a href="tel:+78432926211" class="contact-form__phone-link"><span>+7 (843)
                                        292-62-11</span></a>
                                <a href="mailto:reception@neonart.ru"
                                    class="contact-form__mail-link"><span>reception@neonart.ru</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products-slider js-products-slider" data-midnight="light">
    <div class="container">
        <div class="products-slider__content">
            <div class="products-slider__top-row">
                <h2 class="section-heading products-slider__heading">
                    Каталог товаров
                </h2>
                <div class="slider-arrows products-slider__arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="products-slider__wrapper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="products-slider__card">
                                <div class="products-slider__card-image-container">
                                    <img data-src="img/products-slider/1.jpg" alt=""
                                        class="products-slider__card-image lazyload">
                                    <div class="products-slider__card-image-text">
                                        <p>
                                            изготовление высокотехнологичного продукта в сфере освещения, строительства
                                            и визуальных коммуникаций
                                        </p>
                                    </div>
                                </div>
                                <div class="products-slider__card-price">
                                    10 000 ₽
                                </div>
                                <h4 class="products-slider__card-title">
                                    антивандальный светильник из нержавеющей стали
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="products-slider__card">
                                <div class="products-slider__card-image-container">
                                    <img data-src="img/products-slider/2.jpg" alt=""
                                        class="products-slider__card-image lazyload">
                                    <div class="products-slider__card-image-text">
                                        <p>
                                            изготовление высокотехнологичного продукта в сфере освещения, строительства
                                            и визуальных коммуникаций
                                        </p>
                                    </div>
                                </div>
                                <div class="products-slider__card-price">
                                    36 700 ₽
                                </div>
                                <h4 class="products-slider__card-title">
                                    Ударопрочный кейс из АБС-пластика
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="products-slider__card">
                                <div class="products-slider__card-image-container">
                                    <img data-src="img/products-slider/3.jpg" alt=""
                                        class="products-slider__card-image lazyload">
                                    <div class="products-slider__card-image-text">
                                        <p>
                                            изготовление высокотехнологичного продукта в сфере освещения, строительства
                                            и визуальных коммуникаций
                                        </p>
                                    </div>
                                </div>
                                <div class="products-slider__card-price">
                                    22 000 ₽
                                </div>
                                <h4 class="products-slider__card-title">
                                    Производство изделий из термопластичных листовых пластиков
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="products-slider__card">
                                <div class="products-slider__card-image-container">
                                    <img data-src="img/products-slider/1.jpg" alt=""
                                        class="products-slider__card-image lazyload">
                                    <div class="products-slider__card-image-text">
                                        <p>
                                            изготовление высокотехнологичного продукта в сфере освещения, строительства
                                            и визуальных коммуникаций
                                        </p>
                                    </div>
                                </div>
                                <div class="products-slider__card-price">
                                    10 000 ₽
                                </div>
                                <h4 class="products-slider__card-title">
                                    антивандальный светильник из нержавеющей стали
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="products-slider__card">
                                <div class="products-slider__card-image-container">
                                    <img data-src="img/products-slider/2.jpg" alt=""
                                        class="products-slider__card-image lazyload">
                                    <div class="products-slider__card-image-text">
                                        <p>
                                            изготовление высокотехнологичного продукта в сфере освещения, строительства
                                            и визуальных коммуникаций
                                        </p>
                                    </div>
                                </div>
                                <div class="products-slider__card-price">
                                    36 700 ₽
                                </div>
                                <h4 class="products-slider__card-title">
                                    Ударопрочный кейс из АБС-пластика
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="products-slider__card">
                                <div class="products-slider__card-image-container">
                                    <img data-src="img/products-slider/3.jpg" alt=""
                                        class="products-slider__card-image lazyload">
                                    <div class="products-slider__card-image-text">
                                        <p>
                                            изготовление высокотехнологичного продукта в сфере освещения, строительства
                                            и визуальных коммуникаций
                                        </p>
                                    </div>
                                </div>
                                <div class="products-slider__card-price">
                                    22 000 ₽
                                </div>
                                <h4 class="products-slider__card-title">
                                    Производство изделий из термопластичных листовых пластиков
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}