{{#extend "layout"}}
{{#content "main"}}


<section class="intro intro--short" data-midnight="dark">

    <div class="container">
        <div class="intro__content">
            <div class="intro__top-row">
                <div class="intro__logo-wrapper">
                    <div class="intro__logo-wrapper-inner">
                        <a href="#" class="intro__logo">
                            <svg width="186" height="45" aria-hidden="true" class="intro__logo-image icon-logo">
                                <use xlink:href="#logo"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="intro__main-heading-wrapper">
                    <h1 class="section-heading intro__main-heading js-sliding-text">
                        контакты
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contacts" data-midnight="dark">
    <div class="container">
        <div class="contacts__content">
            <div class="contacts__row">
                <ul class="contacts__phones-list">
                    <li class="contacts__phones-list-item">
                        <div class="contacts__phones-card">
                            <a href="tel: +78432926211" class="contacts__phones-card-link">
                                <span class="contacts__phones-card-link-main">
                                    +7 (843) 292-62-11
                                </span>

                            </a>
                            <div class="contacts__phones-card-label">
                                офис
                            </div>
                        </div>
                    </li>
                    <li class="contacts__phones-list-item">
                        <div class="contacts__phones-card">
                            <a href="tel: +79872251760" class="contacts__phones-card-link">

                                <span class="contacts__phones-card-link-main">
                                    +7 (987) 225-17-60
                                </span>
                            </a>
                            <div class="contacts__phones-card-label">
                                контрактное производство
                            </div>
                        </div>
                    </li>
                    <li class="contacts__phones-list-item">
                        <div class="contacts__phones-card">
                            <a href="tel: +79872972078" class="contacts__phones-card-link">

                                <span class="contacts__phones-card-link-main">
                                    +7 (987) 297-20-78
                                </span>
                            </a>
                            <div class="contacts__phones-card-label">
                                генеральный директор
                            </div>
                        </div>
                    </li>
                    <li class="contacts__phones-list-item">
                        <div class="contacts__phones-card">
                            <a href="tel: +78432926211" class="contacts__phones-card-link">

                                <span class="contacts__phones-card-link-main">
                                    +7 (843) 292-62-11
                                </span>
                                <span class="contacts__phones-card-link-additional">
                                    (доп. 129)
                                </span>
                            </a>
                            <div class="contacts__phones-card-label">
                                отдел кадров
                            </div>
                        </div>
                    </li>
                    <li class="contacts__phones-list-item">
                        <div class="contacts__phones-card">
                            <a href="tel: +78432926211" class="contacts__phones-card-link">

                                <span class="contacts__phones-card-link-main">
                                    +7 (843) 292-62-11
                                </span>
                                <span class="contacts__phones-card-link-additional">
                                    (доп. 323)
                                </span>
                            </a>
                            <div class="contacts__phones-card-label">
                                отдел снабжения
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="contacts__social">
                    <div class="contacts__social-write-links">
                        <a href="#" class="contacts__social-write-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-telegram">
                                <use xlink:href="#telegram"></use>
                            </svg>
                            написать в Telegram
                        </a>
                        <a href="#" class="contacts__social-write-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                            написать в Whatsapp
                        </a>
                    </div>
                    <a href="mailto:reception@neonart.ru" class="contacts__mail-link">
                        <span>
                            reception@neonart.ru
                        </span>
                    </a>

                    <ul class="contacts__social-list">
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contacts__write-us">
                    <form action="/" method="POST" class="contacts__form" data-need-validation="">
                        <h3 class="contacts__form-heading">
                            Остались вопросы?
                            Давайте мы вам перезвоним
                        </h3>
                        <div class="contacts__form-fields">
                            <div class="contacts__form-field">
                                <input type="text" class="contacts__form-input" placeholder="имя" required>
                            </div>
                            <div class="contacts__form-field">
                                <input type="tel" class="contacts__form-input js-phone-input" placeholder="телефон"
                                    required data-parsley-phone>
                            </div>
                        </div>
                        <button type="submit" class="contacts__form-submit">
                            <span>
                                отправить
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right-fat"></use>
                            </svg>
                        </button>
                    </form>
                    <div class="contacts__write-us-policy">
                        нажимая кнопку вы даете согласие на обработку ваших персональных данных и соглашаетесь с <a
                            href="#">
                            <span>политикой конфиденциальности</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="contacts__map-wrapper">
        <div class="contacts__map js-contacts-map"></div>
    </div>
</section>

{{/content}}
{{/extend}}