{{#extend "layout"}}
{{#content "main"}}


<section class="intro" data-midnight="dark" id="company">
    <div class="intro__bg-wrapper">
        <div class="intro__bg intro__bg--light-overlay">
            <img src="img/history-intro.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__top-row">
                <div class="intro__logo-wrapper">
                    <div class="intro__logo-wrapper-inner not-sticky">
                        <a href="#" class="intro__logo">
                            <svg width="186" height="45" aria-hidden="true" class="intro__logo-image icon-logo">
                                <use xlink:href="#logo"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="intro__main-heading-wrapper">
                    <h1 class="section-heading intro__main-heading js-sliding-text">
                        история развития компании
                    </h1>
                </div>
            </div>



        </div>
    </div>
</section>


<section class="history">
    <div class="container">
        <div class="history__content">
            <div class="history__block history__large-block">
                <div class="history__block-date">
                    <div class="history__block-date-inner">
                        1993
                    </div>

                </div>
                <div class="history__block-content">


                    <div class="history__block-top-row">
                        <div class="history__block-top-col">
                            <h3 class="history__block-large-heading js-sliding-text">
                                первая вывеска «Академкнига»
                            </h3>

                        </div>
                        <div class="history__block-top-col">
                            <div class="history__block-text">
                                <p>
                                    Первые в Казани освоили американскую технологию производства неоновых газоразрядных
                                    ламп. Неон позволил открыть новые горизонты в творчестве и утвердить «Neon-Art», как
                                    лидера в изготовлении наружной рекламы.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="history__block-gallery js-history-gallery">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/1.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/2.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/3.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/1.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/2.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/3.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history__block-gallery-controls">
                            <div class="slider-pagination history__slider-pagination">

                            </div>
                            <div class="slider-arrows">
                                <button class="slider-arrows__btn slider-arrows__btn--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="slider-arrows__btn slider-arrows__btn--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="history__block history__small-block">
                <div class="history__block-date">
                    <div class="history__block-date-inner">
                        1995
                    </div>

                </div>
                <div class="history__block-content">


                    <div class="history__block-top-row">
                        <div class="history__block-top-col">
                            <h3 class="history__block-small-heading js-sliding-text">
                                участие в ребрендинге «Сберегательных касс» в «Сбербанк»
                            </h3>

                        </div>
                        <div class="history__block-top-col">
                            <div class="history__block-text hidden">
                                <p>
                                    Первые в Казани освоили американскую технологию производства неоновых газоразрядных
                                    ламп. Неон позволил открыть новые горизонты в творчестве и утвердить «Neon-Art», как
                                    лидера в изготовлении наружной рекламы.
                                </p>
                            </div>
                            <button class="history__block-open-btn" data-text="Скрыть описание">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                                <span>
                                    открыть описание
                                </span>

                            </button>


                        </div>
                    </div>
                    <div class="history__block-gallery js-history-gallery">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/1.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/2.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/3.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/1.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/2.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/3.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history__block-gallery-controls">
                            <div class="slider-pagination history__slider-pagination">

                            </div>
                            <div class="slider-arrows">
                                <button class="slider-arrows__btn slider-arrows__btn--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="slider-arrows__btn slider-arrows__btn--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="history__block history__large-block">
                <div class="history__block-date">

                    <div class="history__block-date-inner">
                        1998
                    </div>
                </div>
                <div class="history__block-content">
                    <div class="history__block-top-row">
                        <div class="history__block-top-col">
                            <h3 class="history__block-large-heading js-sliding-text">
                                производство неоновых вывесок
                            </h3>

                        </div>
                        <div class="history__block-top-col">
                            <div class="history__block-text">
                                <p>
                                    Первые в Казани освоили американскую технологию производства неоновых газоразрядных
                                    ламп. Неон позволил открыть новые горизонты в творчестве и утвердить «Neon-Art», как
                                    лидера в изготовлении наружной рекламы.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="history__block-gallery js-history-gallery">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/4.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/5.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/6.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/4.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/5.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/6.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history__block-gallery-controls">
                            <div class="slider-pagination history__slider-pagination">

                            </div>
                            <div class="slider-arrows">
                                <button class="slider-arrows__btn slider-arrows__btn--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="slider-arrows__btn slider-arrows__btn--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="history__block history__small-block">
                <div class="history__block-date">
                    <div class="history__block-date-inner">
                        1999
                    </div>

                </div>
                <div class="history__block-content">


                    <div class="history__block-top-row">
                        <div class="history__block-top-col">
                            <h3 class="history__block-small-heading js-sliding-text">
                                участие в ребрендинге «Сберегательных касс» в «Сбербанк»
                            </h3>

                        </div>
                        <div class="history__block-top-col">

                            <div class="history__block-text hidden">
                                <p>
                                    Первые в Казани освоили американскую технологию производства неоновых газоразрядных
                                    ламп. Неон позволил открыть новые горизонты в творчестве и утвердить «Neon-Art», как
                                    лидера в изготовлении наружной рекламы.
                                </p>
                            </div>
                            <button class="history__block-open-btn" data-text="Скрыть описание">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                                <span>
                                    открыть описание
                                </span>

                            </button>

                        </div>
                    </div>
                    <div class="history__block-gallery js-history-gallery">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/1.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/2.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/3.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/1.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/2.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/3.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history__block-gallery-controls">
                            <div class="slider-pagination history__slider-pagination">

                            </div>
                            <div class="slider-arrows">
                                <button class="slider-arrows__btn slider-arrows__btn--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="slider-arrows__btn slider-arrows__btn--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="history__block history__large-block">
                <div class="history__block-date">

                    <div class="history__block-date-inner">
                        2001
                    </div>
                </div>
                <div class="history__block-content">


                    <div class="history__block-top-row">
                        <div class="history__block-top-col">
                            <h3 class="history__block-large-heading js-sliding-text">
                                реконструкция исторического здания в центре Казани
                            </h3>
                        </div>
                        <div class="history__block-top-col">
                            <div class="history__block-text">
                                <p>
                                    От аренды одной комнаты до приобретения в собственность всего здания. Серьёзные
                                    инвестиции в реконструкцию дореволюционного здания.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="history__block-gallery js-history-gallery">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/7.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/8.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/9.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/7.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/8.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="history__block-gallery-card">
                                        <img data-src="img/history/9.jpg" alt=""
                                            class="history__block-gallery-card-image lazyload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history__block-gallery-controls">
                            <div class="slider-pagination history__slider-pagination">

                            </div>
                            <div class="slider-arrows">
                                <button class="slider-arrows__btn slider-arrows__btn--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="slider-arrows__btn slider-arrows__btn--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}