{{#extend "layout"}}
{{#content "main"}}


<section class="intro" data-midnight="dark">
    <div class="intro__bg-wrapper">
        <div class="intro__bg">
            {{!-- <img src="img/intro.jpg" alt="" class="intro__bg-image"> --}}



            <video class="lazyload" muted="" data-autoplay="" loop playsinline preload="none">
                <source src="assets/video/video.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__top-row">
                <div class="intro__logo-wrapper">
                    <div class="intro__logo-wrapper-inner">
                        <div class="intro__logo-hide-wrapper">
                            <a href="#" class="intro__logo">
                                <svg width="186" height="45" aria-hidden="true" class="intro__logo-image icon-logo">
                                    <use xlink:href="#logo"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="intro__main-heading-wrapper">


                    <h1 class="section-heading intro__main-heading js-sliding-text">
                        производственный комплекс
                    </h1>
                </div>
            </div>
            <div class="intro__watch-project-wrapper">
                <a href="https://www.youtube.com/watch?v=Z6mKpAJ1QSY" class="intro__watch-project intro_bg_desc-main" data-fancybox="">
                    <div class="intro__watch-project-play">
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>

                    <div class="intro__watch-project-text" data-text="смотреть проект">
                        <div class="intro__watch-project-text-inner">
                            Смотреть проект
                        </div>
                    </div>
                </a>
                <a href="https://www.youtube.com/watch?v=Z6mKpAJ1QSY" class="intro__watch-project intro_bg_mobile-main" data-fancybox="">
                    <div class="intro__watch-project-play">
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>

                    <div class="intro__watch-project-text" data-text="смотреть проект">
                        <div class="intro__watch-project-text-inner">
                            Смотреть проект
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<section class="numbers js-numbers" data-midnight="light">
    <div class="container">
        <div class="numbers__content">

            <h2 class="section-upper-heading js-sliding-text">
                философия
            </h2>
            <h3 class="section-heading numbers__heading js-sliding-text">
                Cоздание будущего через эксклюзивные
                и&nbsp;высококачественные решения обустройства общественного пространства
            </h3>
            <div class="numbers__slider js-numbers-slider">
                <div class="numbers__slider-container">
                    <ul class="numbers__list">
                        <li class="numbers__list-item">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    1993
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                год основания
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    12 000
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                производственная площадь, м2
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    1000
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                отделений сбербанка
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="numbers__list-item">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    12 000
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                производственная площадь, м2
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    1000
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                отделений сбербанка
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    1993
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                год основания
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="numbers__list-item">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    1000
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                отделений сбербанка
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    1993
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                год основания
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="numbers__card">
                                            <div class="numbers__card-digit-wrapper">
                                                <div class="numbers__card-digit">
                                                    12 000
                                                </div>
                                            </div>
                                            <div class="numbers__card-text">
                                                производственная площадь, м2
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>


        </div>
    </div>
</section>

<section class="services" data-midnight="dark">
    <div class="container">
        <div class="services__content">
            <h2 class="section-upper-heading section-upper-heading--light js-sliding-text">
                направления
            </h2>
            <h3 class="section-heading services__heading js-sliding-text">
                Изготовление высокотехнологичного продукта в сфере освещения, строительства и визуальных коммуникаций
            </h3>
            <ul class="services__list">
                <li class="services__list-item">
                    <div class="services__card">
                        <div class="services__card-image-container">
                            <img src="img/services/1.jpg" alt="" class="services__card-image">
                        </div>
                        <ul class="services__card-inner-list">
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Навигация
                                    </span>

                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">

                                    <span>
                                        Стеллы
                                    </span>
                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Входные группы
                                    </span>

                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Вывески
                                    </span>

                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Арт-объекты
                                    </span>

                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Оформление АЗС
                                    </span>

                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Медиа-агентство
                                    </span>

                                </a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="services__card-title">
                        <a href="#">
                            <span>
                                Визуальные коммуникации
                            </span>
                        </a>
                    </h3>
                </li>
                <li class="services__list-item">
                    <div class="services__card">
                        <div class="services__card-image-container">
                            <img src="img/services/2.jpg" alt="" class="services__card-image">
                        </div>
                        <ul class="services__card-inner-list">
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Парковый и ландшафтный свет
                                    </span>
                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Система освещения метро
                                    </span>
                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Световые фасады
                                    </span>
                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Светильники
                                    </span>
                                </a>
                            </li>

                        </ul>

                    </div>

                    <h3 class="services__card-title">
                        <a href="#">
                            <span>
                                Световые решения
                            </span>
                        </a>
                    </h3>
                </li>
                <li class="services__list-item">
                    <div class="services__card">
                        <div class="services__card-image-container">
                            <img src="img/services/3.jpg" alt="" class="services__card-image">
                        </div>
                        <ul class="services__card-inner-list">
                            <li class="services__card-inner-list-item">

                                <a href="#" class="services__card-link">
                                    <span>
                                        Фасадные и потолочные панели
                                    </span>
                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Зенитные фонари
                                    </span>
                                </a>
                            </li>
                            <li class="services__card-inner-list-item">

                                <a href="#" class="services__card-link">

                                    <span>
                                        Мобильные павильоны
                                    </span>
                                </a>
                            </li>
                            <li class="services__card-inner-list-item">

                                <a href="#" class="services__card-link">
                                    <span>
                                        Элементы благоустройства
                                    </span>

                                </a>
                            </li>

                        </ul>
                    </div>
                    <h3 class="services__card-title">

                        <a href="#">
                            <span>
                                Архитекутра и строительство
                            </span>
                        </a>
                    </h3>
                </li>
                <li class="services__list-item">
                    <div class="services__card">
                        <div class="services__card-image-container">
                            <img src="img/services/4.jpg" alt="" class="services__card-image">
                        </div>
                        <ul class="services__card-inner-list">
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Промышленный дизайн
                                    </span>
                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Оборудование для голосования
                                    </span>
                                </a>
                            </li>
                            <li class="services__card-inner-list-item">
                                <a href="#" class="services__card-link">
                                    <span>
                                        Корпуса из металла и пластика
                                    </span>
                                </a>
                            </li>
                            <li class="services__card-inner-list-item">

                                <a href="#" class="services__card-link">

                                    <span>
                                        Автокомпоненты
                                    </span>
                                </a>
                            </li>
                            <li class="services__card-inner-list-item">

                                <a href="#" class="services__card-link">

                                    <span>
                                        Промышленная мебель
                                    </span>
                                </a>
                            </li>

                        </ul>

                    </div>

                    <h3 class="services__card-title">

                        <a href="#">
                            <span>
                                Продукты и решения
                            </span>
                        </a>
                    </h3>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="projects" data-midnight="light">
    <div class="container">

        <div class="projects__content">
            <h2 class="section-upper-heading js-sliding-text">
                ценности
            </h2>
            <h2 class="section-heading projects__heading js-sliding-text">
                Создаём конкурентные преимущества для наших клиентов, через эксклюзивные решения и внедрение современных
                технологий
            </h2>
        </div>
        <div class="projects__slider js-projects-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="projects__slider-card">
                            <div class="projects__slider-card-image-container">
                                <div class="projects__slider-card-bg">
                                    <img src="img/projects/1.jpg" alt="" class="projects__slider-card-bg-image">
                                </div>
                                <h4 class="projects__slider-card-title">
                                    Лефортово
                                </h4>
                                <div class="projects__slider-card-title-text">
                                    освещение станции
                                </div>
                            </div>

                            <div class="projects__slider-card-text">
                                <p>
                                    Новая стильная станция московского метрополитена "Лефортово" это прекрасный пример
                                    современной архитектуры. Контрастное сочетание светлого и темного камня усилено
                                    строгим линейным освещением.
                                </p>
                            </div>
                            <div class="projects__slider-card-more">
                                подробнее
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="projects__slider-card">
                            <div class="projects__slider-card-image-container">


                                <div class="projects__slider-card-bg">
                                    <img src="img/projects/2.jpg" alt="" class="projects__slider-card-bg-image">
                                </div>
                                <h4 class="projects__slider-card-title">
                                    Aurus
                                </h4>
                                <div class="projects__slider-card-title-text">
                                    оформление производственного корпуса
                                </div>
                            </div>
                            <div class="projects__slider-card-text">
                                <p>
                                    Большая ответственность для компании принять участие в формировании визуальных
                                    коммуникаций бренда AURUS. На основе фирменного стиля разработаны элементы внешнего
                                    оформления производственных зданий.
                                </p>
                            </div>
                            <div class="projects__slider-card-more">
                                подробнее
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="projects__slider-card">
                            <div class="projects__slider-card-image-container">


                                <div class="projects__slider-card-bg">
                                    <img src="img/projects/3.jpg" alt="" class="projects__slider-card-bg-image">
                                </div>
                                <h4 class="projects__slider-card-title">
                                    5колесо
                                </h4>
                                <div class="projects__slider-card-title-text">
                                    павильон шиномонтажа
                                </div>
                            </div>
                            <div class="projects__slider-card-text">
                                <p>
                                    Для сети шиномонтажа 5 колесо разработаны новые павильоны с ярким и узнаваемым
                                    дизайном. Нестационарный объект поставляется с установленной электропроводкой и
                                    пневмолинией, готовый к подключению оборудования.
                                </p>
                            </div>
                            <div class="projects__slider-card-more">
                                подробнее
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <a href="#" class="button-with-arrow projects__watch-project">
            <div class="button-with-arrow__text" data-text="смотреть все проекты">
                <div class="button-with-arrow__text-inner">
                    смотреть все проекты
                </div>
            </div>

            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </a>
    </div>
</section>

<section class="vacancies-main" data-midnight="dark">
    <div class="container">
        <div class="intro__text-content vacancies-main__text-content">
            <div class="vacancies-main__title vacancies-intro__title">
                Присоединяйтесь к команде Неон-Арт!
            </div>

            <div class="vacancies-intro__subtitle">
                Получите возможность реализовать свой потенциал<br>
                и достойно зарабатывать
            </div>

            <button type="button" class="vacancies-intro__button page-header__contact-btn js-vac-modal">
                присоединиться к команде
            </button>
        </div>
    </div>

    <div class="vacancies-main__back">
        <picture>
            <source media="(max-width: 640px)" srcset="img/vacancies/contacts/back-mobile.jpg">
            <source media="(min-width: 641px)" srcset="img/vacancies/contacts/back.jpg">
            <img src="img/vacancies/contacts/back.jpg" alt="">
        </picture>
    </div>

</section>

<section class="press-center js-press-center" data-midnight="grey">
    <div class="container">
        <div class="press-center__content">


            <div class="press-center__top-row">
                <h2 class="section-heading press-center__heading">
                    пресс-центр
                </h2>
                <div class="slider-arrows press-center__slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="press-center__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="press-center__slider-card">
                                <div class="press-center__slider-card-image-container">
                                    <img src="img/press-center/1.jpg" alt="" class="press-center__slider-card-image">
                                </div>
                                <div class="press-center__slider-card-content">
                                    <div class="press-center__slider-card-date">
                                        29 апреля 2021
                                    </div>
                                    <h3 class="press-center__slider-card-title">
                                        <span>
                                            Первые места на конкурсе визуальной рекламы "ЗНАК 2021"
                                        </span>
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="press-center__slider-card">
                                <div class="press-center__slider-card-image-container">
                                    <img src="img/press-center/2.jpg" alt="" class="press-center__slider-card-image">
                                </div>
                                <div class="press-center__slider-card-content">
                                    <div class="press-center__slider-card-date">
                                        24 октября 2021
                                    </div>
                                    <h3 class="press-center__slider-card-title">
                                        <span>
                                            Первые места на конкурсе визуальной рекламы "ЗНАК 2021"
                                        </span>
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="press-center__slider-card">
                                <div class="press-center__slider-card-image-container">
                                    <img src="img/press-center/1.jpg" alt="" class="press-center__slider-card-image">
                                </div>
                                <div class="press-center__slider-card-content">
                                    <div class="press-center__slider-card-date">
                                        29 апреля 2021
                                    </div>
                                    <h3 class="press-center__slider-card-title">
                                        <span>
                                            Первые места на конкурсе визуальной рекламы "ЗНАК 2021"
                                        </span>
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="press-center__slider-card">
                                <div class="press-center__slider-card-image-container">
                                    <img src="img/press-center/2.jpg" alt="" class="press-center__slider-card-image">
                                </div>
                                <div class="press-center__slider-card-content">
                                    <div class="press-center__slider-card-date">
                                        24 октября 2021
                                    </div>
                                    <h3 class="press-center__slider-card-title">
                                        <span>
                                            Первые места на конкурсе визуальной рекламы "ЗНАК 2021"
                                        </span>
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>





            <a href="#" class="button-with-arrow press-center__show-all">
                <div class="button-with-arrow__text" data-text="все публикации">
                    <div class="button-with-arrow__text-inner">
                        все публикации
                    </div>
                </div>

                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>

<div class="vacancies-modal">
    <div class="vacancies-modal__contianer">
        <div class="vacancies-modal__content vacancies-modal__content--dark">
            <div class="vacancies-modal__body">
                <form class="vacancies-modal__form-block form-vacancies form-vacancies--main" action="#" data-need-validation="">
                    <div class="form-vacancies__layers">
                        <div class="form-vacancies__body modal-contact-form__layer modal-contact-form__layer--form active">
                            <span class="form-vacancies__title form-vacancies__title--bigger vacancies-modal__name">
                                Откликнуться на<br> вакансию
                            </span>

                            <div class="form-vacancies__row">
                                <input type="text" class="form-vacancies__input" placeholder="ваши имя и фамилия" required>
                            </div>

                            <div class="form-vacancies__row">
                                <input type="text" class="form-vacancies__input js-phone-input" placeholder="телефон" required data-parsley-phone="">
                            </div>

                            <div class="form-vacancies__row">
                                <input type="text" class="form-vacancies__input" placeholder="должность" required>
                            </div>

                            <div class="form-vacancies__loader">
                                <label class="form-vacancies__loader-label">
                                    <svg aria-hidden="true" class="icon">
                                        <use xlink:href="#paperclip"></use>
                                    </svg>
                                    <span>
                                        прикрепить резюме
                                    </span>
                                    <input class="visually-hidden form-vacancies__loader-input" type="file" hidden required>
                                </label>
                            </div>

                            <div class="form-vacancies__submit">
                                <button type="submit" class="form-vacancies__submit-btn page-header__contact-btn">
                                    отправить
                                </button>

                                <div class="form-vacancies__agreement">
                                    <span>
                                        нажимая кнопку “отправить” вы даете согласие на<br>
                                        обработку ваших персональных данных<br> и соглашаетесь с
                                    </span>
                                    <a href="#" class="">
                                        политикой&nbsp;конфиденциальности
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-vacancies__body modal-contact-form__layer  modal-contact-form__layer--success">
                            <div class="modal-contact-form__success">
                                <h3 class="modal-contact-form__success-heading">
                                    Спасибо за вашу заявку!
                                </h3>
                                <div class="modal-contact-form__success-text">
                                    <p>
                                        наш менеджер свяжется с вами в ближайшее время
                                    </p>
                                </div>
                                <a href="#" class="modal-contact-form__success-link">
                                    отправить повторно
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="vacancies-modal__contacts">
                    <div class="vacancies-modal__contacts-title form-vacancies__agreement">
                        Отдел кадров
                    </div>

                    <div class="vacancies-modal__contacts-list">
                        <div class="vacancies-modal__contacts-item">
                            <a href="tel:78432926211" class="vacancies-modal__contacts-link">
                                +7 (843) 292-62-11 (доп. 367)
                            </a>
                        </div>
                        <div class="vacancies-modal__contacts-item">
                            <a href="mailto:hr@neonart.ru" class="vacancies-modal__contacts-link">
                                hr@neonart.ru
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <button class="vacancies-modal__close-btn vacancies-modal__close-btn--dark">
                <svg aria-hidden="true" class="icon">
                    <use xlink:href="#close"></use>
                </svg>
            </button>
        </div>
    </div>
</div>


{{/content}}
{{/extend}}
