{{#extend "layout"}}
{{#content "main"}}


<section class="intro" data-midnight="dark">
    <div class="intro__bg-wrapper">
        <div class="intro__bg intro__bg--light-overlay">
            <img src="img/our-services.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__top-row">
                <div class="intro__logo-wrapper">
                    <div class="intro__logo-wrapper-inner">
                        <a href="#" class="intro__logo">
                            <svg width="186" height="45" aria-hidden="true" class="intro__logo-image icon-logo">
                                <use xlink:href="#logo"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="intro__main-heading-wrapper">
                    <h1 class="section-heading intro__main-heading js-sliding-text">
                        визуальные коммуникации
                    </h1>
                </div>
            </div>
            <div class="intro__text-content js-sliding-text">
                компания «неон-арт»<br> специализируется на производстве<br> вывесок с 1993 года.
            </div>
        </div>
    </div>
</section>


<section class="our-services" data-midnight="light">
    <div class="container">
        <div class="our-services__content">
            <div class="our-services__intro-text">
                <p>
                    Вывеска – это визитная карточка предприятия. Чаще всего вывеска изготавливается на основе логотипа
                    компании. Следует различать вывеску и объект визуальной коммуникации. Вывеска это образ компании, а
                    коммуникация – это средство для навигации потребителей. Специалисты компании «Неон-Арт» помогут
                    разобраться в этих вопросах и найти оптимальное решение для каждого клиента.
                </p>
            </div>
            <h2 class="section-heading our-services__heading">
                предлагаемая продукция
            </h2>
            <ul class="our-services__list">
                <li class="our-services__list-item">
                    <a href="#" class="our-services__card">
                        <div class="our-services__card-image-container">
                            <img data-src="img/our-services/1.jpg" alt="" class="our-services__card-image lazyload">
                        </div>
                        <h4 class="our-services__card-title">
                            <span>
                                Навигация
                            </span>

                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                    </a>
                </li>
                <li class="our-services__list-item">
                    <a href="#" class="our-services__card">
                        <div class="our-services__card-image-container">
                            <img data-src="img/our-services/2.jpg" alt="" class="our-services__card-image lazyload">
                        </div>
                        <h4 class="our-services__card-title">
                            <span>
                                стеллы
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                    </a>
                </li>
                <li class="our-services__list-item">
                    <a href="#" class="our-services__card">
                        <div class="our-services__card-image-container">
                            <img data-src="img/our-services/3.jpg" alt="" class="our-services__card-image lazyload">
                        </div>
                        <h4 class="our-services__card-title">
                            <span>
                                Входные группы
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                    </a>
                </li>
                <li class="our-services__list-item">
                    <a href="#" class="our-services__card">
                        <div class="our-services__card-image-container">
                            <img data-src="img/our-services/4.jpg" alt="" class="our-services__card-image lazyload">
                        </div>
                        <h4 class="our-services__card-title">
                            <span>
                                Вывески
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                    </a>
                </li>
                <li class="our-services__list-item">
                    <a href="#" class="our-services__card">
                        <div class="our-services__card-image-container">
                            <img data-src="img/our-services/5.jpg" alt="" class="our-services__card-image lazyload">
                        </div>
                        <h4 class="our-services__card-title">
                            <span>
                                Арт-объекты
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                    </a>
                </li>
                <li class="our-services__list-item">
                    <a href="#" class="our-services__card">
                        <div class="our-services__card-image-container">
                            <img data-src="img/our-services/6.jpg" alt="" class="our-services__card-image lazyload">
                        </div>
                        <h4 class="our-services__card-title">
                            <span>
                                Оформление АЗС
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                    </a>
                </li>
                <li class="our-services__list-item">
                    <a href="#" class="our-services__card">
                        <div class="our-services__card-image-container">
                            <img data-src="img/our-services/7.jpg" alt="" class="our-services__card-image lazyload">
                        </div>
                        <h4 class="our-services__card-title">
                            <span>
                                Медиа-агентство
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="contact-form" data-midnight="dark">
    <div class="container">
        <div class="contact-form__content">
            <h2 class="section-heading contact-form__heading">
                Оставьте заявку на услугу
            </h2>
            <div class="contact-form__row">
                <div class="contact-form__col">
                    <form action="/" method="POST" class="contact-form__form" data-need-validation="" id="contact-form">
                        <div class="contact-form__fields">
                            <div class="contact-form__field contact-form__field--wide" id="subject-select">
                                <select name="subject" class="js-custom-select" required
                                    data-parsley-errors-container="#subject-select"
                                    data-parsley-class-handler="#subject-select" data-parsley-trigger="change">
                                    <option value="" placeholder>
                                        выбрать тему сообщения
                                    </option>
                                    <option value="1">Тема 1</option>
                                    <option value="2">Тема 2</option>
                                    <option value="3">Тема 3</option>
                                </select>
                            </div>
                            <div class="contact-form__field">
                                <input type="text" class="contact-form__input" placeholder="ваши имя и фамилия"
                                    required>
                            </div>
                            <div class="contact-form__field">
                                <input type="text" class="contact-form__input" placeholder="компания" required>
                            </div>
                            <div class="contact-form__field contact-form__field--wide">
                                <input type="tel" class="contact-form__input js-phone-input" placeholder="телефон"
                                    required data-parsley-phone="">
                            </div>
                            <div class="contact-form__field contact-form__field--wide">
                                <textarea name="comment" class="contact-form__input"
                                    placeholder="текст сообщения"></textarea>
                            </div>
                        </div>
                        <label class="contact-form__file-upload js-file-upload">
                            <input type="file" class="contact-form__file-upload-input">
                            <span class="contact-form__file-upload-text js-file-upload-text">
                                прикрепить файл
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-file">
                                <use xlink:href="#file"></use>
                            </svg>
                        </label>
                        <button type="submit" class="contact-form__submit">
                            <span>
                                Отправить сообщение
                            </span>
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                        <div class="contact-form__policy">
                            нажимая кнопку вы даете согласие на обработку ваших персональнх данных и соглашаетесь с <a
                                href="#"><span>политикой конфиденциальности</span></a>
                        </div>
                    </form>
                </div>
                <div class="contact-form__col">
                    <h3 class="contact-form__secondary-heading">
                        Свяжитесь с нами и мы ответим на все ваши вопросы
                    </h3>
                    <div class="contact-form__manager">
                        <div class="contact-form__manager-photo-container">
                            <img data-src="img/manager.jpg" alt="" class="contact-form__manager-photo lazyload">
                        </div>
                        <div class="contact-form__manager-content">
                            <div class="contact-form__manager-info-block">
                                <h4 class="contact-form__manager-info-block-title">
                                    менеджер
                                </h4>
                                <div class="contact-form__manager-name">
                                    Дэйви Алина
                                </div>
                            </div>
                            <div class="contact-form__manager-info-block">
                                <h4 class="contact-form__manager-info-block-title">
                                    контакты
                                </h4>
                                <a href="tel:+78432926211" class="contact-form__phone-link"><span>+7 (843)
                                        292-62-11</span></a>
                                <a href="mailto:reception@neonart.ru"
                                    class="contact-form__mail-link"><span>reception@neonart.ru</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}