{{#extend "layout"}}
{{#content "main"}}


<section class="intro intro--short" data-midnight="dark">

    <div class="container">
        <div class="intro__content">
            <div class="intro__top-row">
                <div class="intro__logo-wrapper">
                    <div class="intro__logo-wrapper-inner">
                        <div class="intro__logo-hide-wrapper">
                            <a href="#" class="intro__logo">
                                <svg width="186" height="45" aria-hidden="true" class="intro__logo-image icon-logo">
                                    <use xlink:href="#logo"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="intro__main-heading-wrapper">
                    <h1 class="section-heading intro__main-heading js-sliding-text">
                        презентации компании
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="presentation" data-midnight="dark">
    <div class="container">
        <div class="presentation__content">
            <ul class="presentation__list">
                <li class="presentation__list-item">
                    <a href="#" class="presentation__card">
                        <div class="presentation__card-row">
                            <h4 class="presentation__card-title">
                                О компании Неон-Арт
                            </h4>
                            <div class="presentation__card-btn">
                                <span>
                                    скачать
                                </span>

                                <svg width="14" height="14" aria-hidden="true" class="icon-download-slim">
                                    <use xlink:href="#download-slim"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="presentation__card-info">
                            1,5 мб pdf
                        </div>
                    </a>
                </li>
                <li class="presentation__list-item">
                    <a href="#" class="presentation__card">
                        <div class="presentation__card-row">
                            <h4 class="presentation__card-title">
                                Технология производства объемных букв
                            </h4>
                            <div class="presentation__card-btn">
                                <span>
                                    скачать
                                </span>

                                <svg width="14" height="14" aria-hidden="true" class="icon-download-slim">
                                    <use xlink:href="#download-slim"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="presentation__card-info">
                            2,1 мб docx
                        </div>
                    </a>
                </li>
                <li class="presentation__list-item">
                    <a href="#" class="presentation__card">
                        <div class="presentation__card-row">
                            <h4 class="presentation__card-title">
                                Прайс-лист 2022
                            </h4>
                            <div class="presentation__card-btn">
                                <span>
                                    скачать
                                </span>

                                <svg width="14" height="14" aria-hidden="true" class="icon-download-slim">
                                    <use xlink:href="#download-slim"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="presentation__card-info">
                            2,1 мб xlsx
                        </div>
                    </a>
                </li>
                <li class="presentation__list-item">
                    <a href="#" class="presentation__card">
                        <div class="presentation__card-row">
                            <h4 class="presentation__card-title">
                                О компании Неон-Арт
                            </h4>
                            <div class="presentation__card-btn">
                                <span>
                                    скачать
                                </span>

                                <svg width="14" height="14" aria-hidden="true" class="icon-download-slim">
                                    <use xlink:href="#download-slim"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="presentation__card-info">
                            2,1 мб zip
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}