{{#extend "layout"}}
{{#content "main"}}


<section class="intro intro--short" data-midnight="dark">

    <div class="container">
        <div class="intro__content">
            <div class="intro__top-row">
                <div class="intro__logo-wrapper">
                    <div class="intro__logo-wrapper-inner not-sticky">
                        <a href="#" class="intro__logo">
                            <svg width="186" height="45" aria-hidden="true" class="intro__logo-image icon-logo">
                                <use xlink:href="#logo"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="intro__main-heading-wrapper">
                    <h1 class="section-heading intro__main-heading js-sliding-text">
                        реализованные проекты
                    </h1>
                </div>
            </div>



        </div>
    </div>
</section>


<section class="realised-projects">
    <div class="container">
        <div class="realised-projects__layout">
            <div class="realised-projects__sidebar js-realised-projects-sticky-sidebar">
                <div class="realised-projects__sidebar-inner">


                    <div class="realised-projects__nav">
                        <div class="realised-projects__nav-accordion js-accordion" data-close-other="">
                            <div class="realised-projects__nav-accordion-btn js-accordion-btn">
                                <span>
                                    Визуальные коммуникации
                                </span>

                            </div>
                            <div class="realised-projects__nav-accordion-content js-accordion-content">
                                <div class="realised-projects__nav-accordion-content-inner">
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Система освещения метро
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Парковый и ландшафтный свет
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Световые фасады
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Изделия из пластика
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="realised-projects__nav-accordion js-accordion" data-close-other="">
                            <div class="realised-projects__nav-accordion-btn js-accordion-btn">


                                <span>
                                    Световые решения
                                </span>
                            </div>
                            <div class="realised-projects__nav-accordion-content js-accordion-content">
                                <div class="realised-projects__nav-accordion-content-inner">
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Система освещения метро
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Парковый и ландшафтный свет
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Световые фасады
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Изделия из пластика
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="realised-projects__nav-accordion js-accordion" data-close-other="">
                            <div class="realised-projects__nav-accordion-btn js-accordion-btn">
                                <span>
                                    Архитектура и строительство
                                </span>

                            </div>
                            <div class="realised-projects__nav-accordion-content js-accordion-content">
                                <div class="realised-projects__nav-accordion-content-inner">
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Система освещения метро
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Парковый и ландшафтный свет
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Световые фасады
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Изделия из пластика
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="realised-projects__nav-accordion js-accordion" data-close-other="">
                            <div class="realised-projects__nav-accordion-btn js-accordion-btn">
                                <span>
                                    Контрактное производство
                                </span>

                            </div>
                            <div class="realised-projects__nav-accordion-content js-accordion-content">
                                <div class="realised-projects__nav-accordion-content-inner">
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Система освещения метро
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Парковый и ландшафтный свет
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Световые фасады
                                        </span>
                                    </a>
                                    <a href="#" class="realised-projects__nav-accordion-link">
                                        <span>
                                            Изделия из пластика
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="realised-projects__main">
                <ul class="realised-projects__catalog-list">
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/1.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/2.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/3.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/4.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/5.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/6.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/7.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/8.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/9.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/10.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/11.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/12.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/1.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/2.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/3.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/4.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/5.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/6.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/7.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/8.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/9.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/10.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/11.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="realised-projects__catalog-list-item">
                        <a href="#" class="realised-projects__catalog-card">
                            <div class="realised-projects__catalog-card-image-container">
                                <img data-src="img/realised-projects/12.jpg" alt=""
                                    class="realised-projects__catalog-card-image lazyload">
                            </div>
                            <div class="realised-projects__catalog-card-row">
                                <h4 class="realised-projects__catalog-card-title">
                                    станция метро Электрозаводская
                                </h4>
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="realised-projects__btn-wrapper">


            <a href="#" class="realised-projects__show-more js-load-more-projects">
                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                    <use xlink:href="#arrow-down"></use>
                </svg>
                <div class="realised-projects__show-more-text">
                    <span>
                        показать еще
                    </span>
                </div>
            </a>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}