{{#extend "layout"}}
{{#content "main"}}


<section class="intro intro--short" data-midnight="dark">
    <div class="container">
        <div class="intro__content">
            <div class="intro__top-row">
                <div class="intro__logo-wrapper">
                    <div class="intro__logo-wrapper-inner">
                        <div class="intro__logo-hide-wrapper">
                            <a href="#" class="intro__logo">
                                <svg width="186" height="45" aria-hidden="true" class="intro__logo-image icon-logo">
                                    <use xlink:href="#logo"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <form action="/" method="GET" class="intro__main-search-form">
                    <input type="search" name="q" class="intro__main-search-form-input" placeholder="Поиск по сайту">
                    <button type="submit" class="intro__main-search-form-submit">
                        <svg width="25" height="25" aria-hidden="true" class="icon-logo">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                </form>

            </div>
        </div>
    </div>
</section>



<section class="search">
    <div class="container">
        <div class="search__results">
            <div class="search__results-category">
                <div class="search__results-category-col">
                    <h2 class="search__results-category-heading">
                        услуги
                    </h2>
                </div>
                <div class="search__results-category-col">
                    <ul class="search__results-list">
                        <li class="search__results-list-item">
                            <a href="#" class="search__results-card">
                                <h3 class="search__results-card-heading">
                                    Вывески
                                </h3>
                                <div class="search__results-card-text">
                                    <p>
                                        Стела «Казань» это не только имиджевая конструкция но и визуальный
                                        градостроительный
                                        ориентир. За многогранным образом стелы скрыта сложная пространственная ...
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search__results-category">
                <div class="search__results-category-col">
                    <h2 class="search__results-category-heading">
                        портфолио
                    </h2>
                </div>
                <div class="search__results-category-col">
                    <ul class="search__results-list">
                        <li class="search__results-list-item">
                            <a href="#" class="search__results-card">
                                <h3 class="search__results-card-heading">
                                    Стоматологическая поликлиника
                                </h3>
                                <div class="search__results-card-text">
                                    <p>
                                        ... AURUS. На основе фирменного стиля разработаны элементы внешнего оформления
                                        производственных зданий. На въезде на территорию установлена стела высотой 9 м с
                                        ...
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="search__results-list-item">
                            <a href="#" class="search__results-card">
                                <h3 class="search__results-card-heading">
                                    ИРКЕ швейный дом
                                </h3>
                                <div class="search__results-card-text">
                                    <p>
                                        Задачей проекта было реконструировать существующий козырек, спрятав сливные
                                        трубы, и изготовить стильную не большую вывеску. Световой потолок и колонны из
                                        алюминия ...
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="search__results-list-item">
                            <a href="#" class="search__results-card">
                                <h3 class="search__results-card-heading">
                                    Brunello Cucinelli
                                </h3>
                                <div class="search__results-card-text">
                                    <p>
                                        Вывеска магазина «Brunello Cucinelli» небольшого размера, поэтому выполнена с
                                        высокой точностью, с применением современных технологий. Логотип вырезан из
                                        алюминия ...
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}