.awards {
    
    padding-top: 9rem;
    padding-bottom: 9rem;

    @include breakpoint(mobile) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.awards__content {
    padding-left: var(--sidebar-width, 0);

    @include breakpoint(mobile) {
        padding-left: 0;
    }
   
}

.awards__heading {
    margin-bottom: 8.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.awards__selected-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
        margin-bottom: 3rem;
    }
}

.awards__selected-list-item {
    display: flex;
    flex-direction: column;
}

.awards__selected-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2.4rem;
    position: relative;
    z-index: 1;
    padding-bottom: 4rem;

    @include breakpoint(mobile) {
        padding: 1.8rem;

    }

    .no-touch &:hover {
        .awards__selected-card-backplate {
            height: calc(100% + 3rem);
        }

        .awards__selected-card-watch-project {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.2s ease 0.2s, visibility 0.2s linear 0.2s;
        }
    }
}

.awards__selected-card-backplate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background: #f2f2f5;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: height 0.3s;

    @include breakpoint(mobile) {
        padding: 1.8rem;
        
    }
}

.awards__selected-card-competition-name {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 130%;
    text-transform: lowercase;
    color: rgba(#363636, 0.4);
    margin-bottom: 2.4rem;
}

.awards__selected-card-top-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 6.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.awards__selected-card-place {
    width: 50%;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    color: var(--primary-color);
}

.awards__selected-card-document {
    width: 12rem;
    margin-left: 3.5rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        width: 8.5rem;
    }
}

.awards__selected-card-document-image {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.2s;
}

.awards__selected-card-place-number {
    font-weight: bold;
    font-size: 19.4rem;
    line-height: 0.8;
    font-feature-settings: 'tnum' on, 'lnum' on;

    @include breakpoint(mobile) {
        font-size: 14rem;
    }
}

.awards__selected-card-place-title {
    font-weight: bold;
    font-size: 4.4rem;
    line-height: 84%;
    text-transform: lowercase;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    user-select: none;
    letter-spacing: 0.05em;
    margin-top: 0.5rem;
    margin-left: -0.7rem;

    @include breakpoint(mobile) {
        font-size: 3.15rem;
    }
}

.awards__selected-card-watch-project {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    text-transform: lowercase;
    color: var(--primary-color);
    transition: opacity 0.2s, visibility 0s linear 0.2s;
    visibility: hidden;
    opacity: 0;
    svg {
        width: 1.6rem;
        height: 0.8rem;
        flex-shrink: 0;
        fill: currentColor;
        margin-left: 1.2rem;
    }
}

.awards__selected-card-text {
    font-weight: 500;
    font-size: 2rem;
    line-height: 130%;
    text-transform: lowercase;
    margin-bottom: 2rem;
    max-width: 38rem;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
    }
    
}

.awards__selected-card-prize {
    margin-top: auto;
}

.awards__selected-card-prize-name {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    text-transform: lowercase;

    color: rgba(#363636, 0.4);
    margin-bottom: 0.4rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.awards__selected-card-prize-text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    text-transform: lowercase;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.awards__selected-card-gran-pri {
    font-weight: bold;
    font-size: 7.2rem;
    line-height: 85%;
    text-transform: lowercase;
    width: 50%;
    flex-grow: 1;
    margin-top: -1rem;
    color: var(--primary-color);


    @include breakpoint(mobile) {
        font-size: 5.5rem;
    }
}


.awards__slider {
    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        width: 12.8rem;

        @include breakpoint(mobile) {
            width: 9rem;
        }
    }
}

.awards__slider-card {
    display: block;
   

    .no-touch &:hover {
        .awards__slider-card-image {
            filter: grayscale(0);
        }
    }

    
}

.awards__slider-card-image-container {
    position: relative;
    &::before {
        content: '';
        display: block;
        padding-bottom: 120%;
    }
}

.awards__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center top;
    filter: grayscale(100%);
}

.awards__slider-controls {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
}