.history {
    padding-top: 9rem;
    padding-bottom: 6rem;

    @include breakpoint(mobile) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.history__content {
}

.history__large-block {
    .history__block-content {
        margin-bottom: 9.5rem;
        @include breakpoint(mobile) {
            margin-bottom: 5rem;
        }
    }

    &:last-child {
        .history__block-content {
            margin-bottom: 0;
        }
    }
}

.history__block {
    position: relative;

    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: minmax(0, 12rem) minmax(0, 1fr);
        grid-column-gap: 10rem;
    }
}

.history__block-date {
    @include breakpointMF(small-tablet) {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background-color: #e6e6e6;
            z-index: -1;
        }

        .history__block-date-inner {
            padding-right: 2.5rem;
            border-right: 1px solid #363636;
            font-weight: 300;
            font-size: 4.4rem;
            line-height: 1;
            text-align: right;
            text-transform: lowercase;
            position: relative;
            z-index: 1;
            
        }

        .history__small-block & {
            font-weight: 300;
            font-size: 2.8rem;
            line-height: 1;
        }
    }

    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 6rem;
        line-height: 1.2;

        margin-bottom: 1rem;
        .history__small-block & {
            font-weight: 300;
            font-size: 3.2rem;
            line-height: 1.2;
            margin-bottom: 1rem;
        }
    }
}

.history__block-top-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 1.5rem;
    }
}

.history__block-large-heading {
    font-weight: 300;
    font-size: 4.4rem;
    line-height: 140%;
    margin-top: -1.5rem;

    @include breakpoint(mobile) {
        margin: 0;
        font-weight: 300;
        font-size: 2.4rem;
        line-height: 150%;
        text-transform: lowercase;
    }
}

.history__block-text {
    font-size: 1.6rem;
    line-height: 160%;
    margin-bottom: 1.5rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 160%;
    }

    .history__small-block & {
        display: none;
    }

    .history__small-block.revealed & {
        display: block;

        animation-name: fade-in;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }
}

.history__block-gallery {
    padding-top: 4rem;
    @include breakpoint(mobile) {
        padding-top: 3.4rem;
    }

    .swiper-container {
        @include breakpoint(mobile) {
            overflow: visible;
        }
    }

    .swiper-slide {
        @include breakpoint(mobile) {
            width: 32rem;
        }
    }

    .history__small-block & {
        position: absolute;
        width: 100%;
        opacity: 0;
        visibility: hidden;
    }

    .history__small-block.revealed & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
        position: static;
    }

    // .swiper-container {
    //     overflow: visible;
    // }
}

.history__block-gallery-card {
    position: relative;

    &::before {
        content: '';
        display: block;
        padding-bottom: 65%;
    }
}

.history__block-gallery-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history__block-gallery-controls {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;

    @include breakpoint(mobile) {
        display: none;
    }
}

.history__small-block {
    .history__block-content {
        margin-bottom: 8rem;
        @include breakpoint(mobile) {
            margin-bottom: 5rem;
        }
    }

    &:last-child {
        .history__block-content {
            margin-bottom: 0;
        }
    }
}

.history__block-small-heading {
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 140%;
    margin-top: -0.7rem;

    @include breakpoint(mobile) {
        margin: 0;
        font-weight: 300;
        font-size: 2rem;
        line-height: 140%;
        text-transform: lowercase;
    }
}

.history__block-open-btn {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 160%;
    text-transform: lowercase;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 150%;
        color: rgba(#363636, 0.4);
    }

    // .history__small-block.revealed & {
    //     display: none;
    // }

    svg {
        width: 1.6rem;
        height: 0.8rem;
        fill: currentColor;
        flex-shrink: 0;
        margin-right: 1.6rem;
        transition: transform 0.2s;
        @include breakpoint(mobile) {
            width: 1.4rem;
            height: 0.7rem;
            margin-right: 1.2rem;
        }
    }

    &.active {
        svg {
            transform: rotate(180deg);
        }
    }

    @include redLineHover();

    .no-touch &:hover,
    .touch &:active {
        color: var(--text-color);
    }
}
