.page-footer {
    background: #292933;
    color: white;
    padding-top: 6rem;

    @include breakpoint(mobile) {
        padding-top: 5rem;
        padding-bottom: 5rem;

        .container {
            display: flex;
            flex-direction: column;
        }
    }
}

.page-footer__row {
    @include breakpoint(mobile) {
        display: contents;
    }

    @include breakpointMF(small-tablet) {
        margin-left: var(--sidebar-width, 0);
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 36.5rem);
        grid-column-gap: 6rem;
        &:nth-child(2) {
            padding-top: 6rem;
            padding-bottom: 3rem;
        }

        &:nth-child(3) {
            padding-top: 3rem;
            padding-bottom: 3rem;
            border-top: 1px solid rgba(white, 0.15);
        }
    }
}

.page-footer__col {
    @include breakpointMF(small-tablet) {
        &--grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-column-gap: 6rem;
            align-items: center;
        }
    }

    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-footer__nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 6rem;

    @include breakpoint(mobile) {
        grid-gap: 4rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-top: 4rem;
        border-top: 1px solid rgba(#ffffff, 0.2);
        margin-bottom: 4rem;
    }
}

.page-footer__nav-col {
    @include breakpoint(mobile) {
        display: contents;
    }
}

.page-footer__nav-block {
    margin-bottom: 5rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin-bottom: 0;
    }
}

.page-footer__nav-block-heading {
    font-weight: 500;
    font-size: 2rem;
    line-height: 130%;
    text-transform: lowercase;
    margin-bottom: 1.2rem;

    a {
        @include redLineHover();
    }

    @include breakpoint(mobile) {
    }
}

.page-footer__nav-block-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page-footer__nav-block-link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 130%;
    margin-bottom: 0.5rem;
    text-transform: lowercase;
    color: rgba(white, 0.4);
    margin-bottom: 0.8rem;
    display: block;
    &:last-child {
        margin-bottom: 0;
    }

    &:link,
    &:visited {
        color: rgba(white, 0.4);
    }
    &:last-child {
        margin-bottom: 0;
    }

    @include redLineHover();
}

.page-footer__policy-link {
    font-size: 1.4rem;
    text-transform: lowercase;
    line-height: 120%;
    color: rgba(white, 0.4);

    &:link,
    &:visited {
        color: rgba(white, 0.4);
    }

    @include currentColorLineHover();

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.page-footer__made-by {
    display: inline-flex;
    align-items: center;

    font-size: 1.4rem;
    text-transform: lowercase;
    line-height: 120%;
    color: rgba(white, 0.4);

    @include breakpointMF(small-tablet) {
        grid-column: 3 / 4;
    }
    @include breakpoint(mobile) {
        margin-bottom: 1.2rem;
    }
    &:link,
    &:visited {
        color: rgba(white, 0.4);
    }

    @include currentColorLineHover();
}

.page-footer__made-by-image {
    width: 7.2rem;
    height: auto;
    margin-left: 1.2rem;
    position: relative;
    bottom: -0.3rem;
}

.page-footer__copyright {
    font-size: 1.4rem;
    line-height: 120%;
    text-transform: uppercase;
    color: rgba(white, 0.4);
    text-align: right;

    @include breakpoint(mobile) {
        text-align: left;
    }
}

.page-footer__download-presentation {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    line-height: 130%;
    text-transform: lowercase;

    bottom: -0.2rem;
    justify-self: flex-start;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background-color: rgba(white, 0.4);
        transform-origin: left center;
        transform: scaleX(0);
        transition: transform 0.25s ease-out;
    }

    svg {
        width: 1.4rem;
        height: 1.4rem;
        flex-shrink: 0;
        margin-left: 1.2rem;
        fill: currentColor;

        @include breakpoint(mobile) {
            fill: rgba(white, 0.13);
        }
    }

    .no-touch &:hover,
    .touch &:active {
        &::before {
            transform: scaleX(1);
        }
    }

    @include breakpoint(mobile) {
        margin-bottom: 5rem;
        .no-touch &:hover,
        .touch &:active {
            svg {
                fill: white;
            }
        }
    }
}

.page-footer__contacts-links {
    display: flex;
    flex-direction: column;

    padding-bottom: 3.2rem;
    border-bottom: 1px solid rgba(#ffffff, 0.2);
    margin-bottom: 2.7rem;
}

.page-footer__contacts-links-block {
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-footer__social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;

    @include breakpoint(mobile) {
        order: -4;
        margin-bottom: 4rem;
    }
}

.page-footer__social {
    margin-bottom: 5rem;
}

.page-footer__social-heading {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 130%;
    color: rgba(white, 0.4);
    margin-bottom: 1rem;
}

.page-footer__social-list-item {
    margin-right: 0.8rem;
    &:last-child {
        margin-right: 0;
    }

    @supports (gap: 0.8rem) {
        margin: 0;
    }
}

.page-footer__social-link {
    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid rgba(#ffffff, 0.2);
    border-radius: 50%;
    transition: border-color 0.2s;
    svg {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        fill: white;

        &.icon-youtube {
            width: 2rem;
            height: 1.5rem;
        }

        &.icon-facebook {
            width: 0.8rem;
            height: 1.5rem;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        border-color: white;
    }
}

.page-footer__contacts {
    @include breakpoint(mobile) {
        order: -5;
        margin-bottom: 4rem;
    }
}

.page-footer__contacts-phone-link {
    font-weight: 500;
    font-size: 2rem;
    line-height: 130%;
    text-transform: lowercase;
    margin-bottom: 0.6rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include redLineHover();
}
.page-footer__contacts-links-title,
.page-footer__contacts-email-link {
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: lowercase;
    color: rgba(white, 0.4);
    line-height: 130%;

    &:link,
    &:visited {
        color: rgba(white, 0.4);
    }

    &[href] {
        @include currentColorLineHover();
    }

    
}

.page-footer__offices {
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.page-footer__offices-list-item {
    margin-bottom: 1.6rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.page-footer__offices-card-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 130%;
    text-transform: lowercase;
    margin-bottom: 0.8rem;
}

.page-footer__offices-card-info {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 130%;
    color: rgba(white, 0.4);
}

.page-footer__vacancies {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    line-height: 130%;
    text-transform: lowercase;
    color: white;

    justify-self: flex-start;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background-color: rgba(white, 0.4);
        transform-origin: left center;
        transform: scaleX(0);
        transition: transform 0.25s ease-out;
    }
    svg {
        width: 1.4rem;
        height: 1.4rem;
        flex-shrink: 0;
        fill: rgba(white, 0.13);
        margin-left: 1.2rem;
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        &::before {
            transform: scaleX(1);
        }

        svg {
            fill: white;
        }
    }
}
