.press-center {
    background: #f5f5f7;
    color: var(--text-color);
    padding-top: 9rem;
    padding-bottom: 10rem;

    @include breakpoint(mobile) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.press-center__content {
    padding-left: var(--sidebar-width);
    @include breakpoint(mobile) {
        padding-left: 0;
    }
}

.press-center__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
    @include breakpoint(mobile) {
        padding-left: 0;
        margin-bottom: 4.5rem;
    }
}

.press-center__heading {
    width: 50%;
    flex-grow: 1;
}

.press-center__slider-arrows {
    margin-left: 4rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.press-center__slider {
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        padding-left: 0;
        margin-bottom: 4.5rem;
        .swiper-container {
            overflow: visible;
        }
    }

    .swiper-slide {
        width: 42rem;
        height: auto;

        @include breakpoint(mobile) {
            width: 31.5rem;
        }
    }
}

.press-center__slider-card {
    .no-touch &:hover {
        .press-center__slider-card-image-container {
            &::before {
                opacity: 1;
            }
        }

        .press-center__slider-card-title span {
            background-size: 100% 1px;
        }
    }
}

.press-center__slider-card-image-container {
    position: relative;
    margin-bottom: 1.8rem;
    padding-bottom: 65%;
    @include breakpoint(mobile) {
        margin-bottom: 1.8rem;
    }

    &::before {
        content: '';
        display: block;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.2s;
        z-index: 10;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(28, 28, 36, 0.2), rgba(28, 28, 36, 0.2));
    }
}

.press-center__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.press-center__slider-card-content {
}

.press-center__slider-card-date {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 130%;
    text-transform: lowercase;
    color: rgba(#1c1c24, 0.4);
    margin-bottom: 1.2rem;
}

.press-center__slider-card-title {
    font-weight: 300;
    font-size: 2rem;
    line-height: 140%;
    margin-top: -0.4rem;

    span {
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size 0.25s ease-out;
    }
    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 140%;
        margin-top: -0.2rem;
    }
}
