.projects {
    padding-bottom: 12rem;
    padding-top: 9rem;

    @include breakpoint(mobile) {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
}

.projects__heading {
    margin-bottom: 9rem;
    max-width: 110rem;

    @include breakpoint(mobile) {
        margin: 0;
        max-width: none;
        margin-bottom: 4.5rem;
    }
}

.projects__content {
    padding-left: var(--sidebar-width, 0);

    @include breakpoint(mobile) {
        padding-left: 0;
    }
}

.projects__slider {
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
    .swiper-container {
        overflow: visible;
    }

    .swiper-wrapper {
        @include breakpointMF(small-tablet) {
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            grid-gap: 4rem;
        }

        @include breakpoint(mobile) {
            display: flex;
            flex-direction: column;
        }
    }

    .swiper-slide {
        @include breakpoint(mobile) {
            margin-bottom: 1.2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.projects__slider-card {
    display: flex;
    flex-direction: column;
    color: white;

    &:link,
    &:visited {
        color: white;
    }

    @include breakpointMF(small-tablet) {
        .no-touch &:hover {
            .projects__slider-card-text {
                color: white;
            }

            .projects__slider-card-image-container {
                // clip-path: polygon(
                //     calc(-1 * (100vw - 100% - var(--sb-width, 0)) / 2) 0,
                //     calc(((100vw - 100% - var(--sb-width, 0)) / 2) + 100%) 0,
                //     calc(((100vw - 100% - var(--sb-width, 0)) / 2) + 100%) 100%,
                //     calc(-1 * (100vw - 100% - var(--sb-width, 0)) / 2) 100%
                // );
            }

            .projects__slider-card-bg::after {
                opacity: 1;
            }

            .projects__slider-card-text {
                transform: translateY(-6rem);
            }

            .projects__slider-card-more {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.3s ease 0.2s, visibility 0.3s ease 0.2s;
            }
        }
    }
}

.projects__slider-card-image-container {
    display: flex;
    flex-direction: column;

    min-height: 60rem;
    position: relative;
    z-index: 1;
    padding-left: var(--sidebar-width, 0);

    padding-right: var(--sidebar-width, 0);
    padding-top: 6rem;
    padding-bottom: 6rem;

    @include breakpointMF(small-tablet) {
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        // transition: clip-path 0.4s;
    }

    @include breakpoint(mobile) {
        padding: 0;
        min-height: 21.5rem;
        padding: 1.4rem var(--content-padding);
        margin: 0 calc(-1 * var(--content-padding));
    }
}

.projects__slider-card-bg {
    position: absolute;
    left: calc(-1 * (100vw - 100% - var(--sb-width, 0)) / 2);
    right: calc(-1 * (100vw - 100% - var(--sb-width, 0)) / 2);
    width: auto;
    top: 0;
    bottom: 0;

    background: #292933;
    overflow: hidden;
    backface-visibility: hidden;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.5);
        transition: opacity 0.4s;

        opacity: 0;
    }

    @include breakpoint(mobile) {
        left: 0;
        right: 0;

        &::after {
            opacity: 1;
            background: linear-gradient(0deg, rgba(41, 41, 51, 0.5), rgba(41, 41, 51, 0.5));
        }
    }
}

.projects__slider-card-bg-image {
    position: absolute;
    left: 0;
    top: 0%;
    height: 140%;
    width: 100%;
   
    object-fit: cover;
}

.projects__slider-card-title {
    font-weight: 300;
    font-size: 4.4rem;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 2.4rem;
        line-height: 140%;
        margin-bottom: 0.7rem;
    }
}

.projects__slider-card-title-text {
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 120%;
    text-transform: lowercase;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 120%;
        margin-bottom: 3rem;
    }
}

.projects__slider-card-text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    color: rgba(white, 0.5);
    max-width: 56rem;
    margin-top: auto;
    position: absolute;
    left: var(--sidebar-width, 0);
    right: var(--sidebar-width, 0);
    bottom: 6rem;
    z-index: 50;
    transition: color 0.2s, transform 0.3s;
 
    @include breakpoint(mobile) {
        position: static;
        max-width: none;
        margin: 0;
        padding: 0;
        margin-top: 2rem;
        color: var(--text-color);
        font-weight: 400;
        display: none;
    }
}

.projects__watch-project {
    margin-left: var(--sidebar-width, 0);
    @include breakpoint(mobile) {
        margin-left: 0;
    }
}

.projects__slider-card-more {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    text-transform: lowercase;
    color: white;
    transition: opacity 0.3s, transform 0.3s, visibility 0s linear 0.3s;

    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: var(--sidebar-width, 0);

    bottom: 6rem;
    z-index: 50;

    @include breakpoint(mobile) {
        opacity: 1;
        visibility: inherit;
        bottom: 2rem;
        left: 0;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background-color: rgba(white, 0.4);
    }
}
