.section-heading {
    font-weight: 300;
    font-size: 4.4rem;
    line-height: 140%;
    letter-spacing: -0.01em;
    text-transform: lowercase;

    @include breakpoint(mobile) {
        font-weight: 300;
        font-size: 2.4rem;
        line-height: 140%;
    }
}
