.side-menu {
    position: fixed;
    left: 0;
    bottom: 0 !important;
    top: auto !important;
    width: 100%;
    z-index: 50;
    pointer-events: none;
    display: flex;
    flex-direction: column;

    opacity: 0;
    transition: opacity 0.2s;

    @include breakpoint(mobile) {
        display: none;
    }
    

    .animatable & {
        opacity: 1;
    }
   
}

.side-menu__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // height: 100vh;
}

.side-menu__panel {
    margin-top: auto;
    margin-right: auto;
    width: var(--sidebar-width, 0);
    margin-bottom: 12rem;
}

.side-menu__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-menu__nav-link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    text-transform: lowercase;
    pointer-events: initial;
    color: rgba(white, 0.4);
    margin-bottom: 0.8rem;

    &:link,
    &:visited {
        color: rgba(white, 0.4);
    }

    @include redLineHover();
}


.midnightHeader.light {
    .side-menu__nav-link {
        color: rgba(#363636, 0.4);

        &:link,
        &:visited {
            color: rgba(#363636, 0.4);
        }

        .no-touch &:hover,
        .touch &:active {
            color: var(--text-color);
        }
    }
}

[data-midnight="light"] + [data-midnight="light"] {
    padding-top: 0;
}