.slider-arrows {
    display: flex;
    align-items: center;
}

.slider-arrows__btn {
    width: 3.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    margin-right: 2.2rem;
    transition: opacity .2s;
    &:last-child {
        margin-right: 0;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--text-color);
        transition: fill .2s;
    }

    &--light {
        svg {
            fill: white;
        }
    }

    &.swiper-button-disabled {
        cursor: default;
        opacity: 0.5;
    }

    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        svg {
            fill: var(--primary-color);
        }
    }
}