.team {
    background: #292933;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.team__content {
    padding-left: var(--sidebar-width, 0);
    padding-top: 9rem;
    padding-bottom: 9rem;

    @include breakpoint(mobile) {
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
    }
}

.team__top-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 8.5rem;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.team__heading {
    margin-right: 3rem;

    @include breakpoint(mobile) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.team__slider {
    .swiper-slide {
        width: 16.66%;

        @include breakpoint(mobile) {
            width: 50%;
        }
    }
}

.team__slider-card {
    display: block;
    position: relative;

    &:hover {
        .team__slider-card-content {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.team__slider-card-image-container {
    position: relative;
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

.team__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.team__slider-card-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--text-color);
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    opacity: 0;
    visibility: hidden;

    @include breakpoint(mobile) {
        padding: 1.2rem;
    }
}

.team__slider-card-name {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    margin-bottom: 0.8rem;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
}

.team__slider-card-role {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 130%;
    color: rgba(#363636, 0.4);
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
}

.team__slider-card-phone {
    margin-top: auto;
}

.team__slider-card-phone-title {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 130%;
    color: rgba(#363636, 0.4);
    margin-bottom: 0.4rem;
}

.team__slider-card-phone-link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 130%;

    span {
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size 0.25s ease-out;
    }

    .no-touch &:hover,
    .touch &:active {
        span {
            background-size: 100% 1px;
        }
    }
}

.team__work {
    margin-top: 6rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
        margin-top: 3rem;
        order: 30;
    }
}

.team__main-wrapper {
    @include breakpoint(mobile) {
        display: contents;
    }
}

.team__work-phone {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 3rem;
    }
}

.team__work-phone-number {
    font-weight: 300;
    font-size: 4.4rem;
    color: rgba(white, 0.4);
    line-height: 140%;
    text-transform: lowercase;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-size: 2.2rem;
    }
    a {
        color: white;

        @include redLineHover();
    }
}

.team__work-phone-title {
    font-weight: 500;
    font-size: 1.6rem;
    color: rgba(white, 0.4);
    line-height: 130%;
    text-transform: lowercase;
}

.team__work-hr {
    margin: auto;
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 140%;
    text-transform: lowercase;
    margin-right: 0;

    @include breakpoint(mobile) {
        margin: 0;
        font-size: 1.8rem;
    }
    svg {
        width: 1.4rem;
        height: 1.4rem;
        fill: rgba(white, 0.4);
        transition: fill 0.2s;
        flex-shrink: 0;
        margin-left: 1.7rem;
        margin-top: 0.3rem;

        @include breakpoint(mobile) {
            width: 1rem;
            height: 1rem;
            margin-left: 1rem;
        }
    }

    @include redLineHover();

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: white;
        }
    }
}

.team__slider-arrows {
    @include breakpoint(mobile) {
        order: 10;
        margin-top: 2rem;
        margin-left: auto;
    }
}
